

<section>
    <div class="container">
        <div class="container-dark container-sm pull-center">
            <h1 class="heading-1">FORGOT / RESET PASSWORD</h1>

            <div >
                
                <div *ngIf='finalError' class="error la-form-error">{{finalError}}</div>
                <div class='step-1'>
                    <form class="form-group-2" novalidate [ngFormModel]='userFomrValidator' *ngIf='selectedStep==1  && userFomrValidator'>
                        <input (change)='validateUser()' type="text" ngControl='custId' name='userId' value='{{custId.value}}' class="form-control input-lg custom-input" id="" placeholder="User ID">
                         <div *ngIf='(custId.touched && !custId.valid)|| (submitStep1 && !custId.valid)' class="error la-form-error">Please enter valid Customer ID</div>
                    </form>

            <challenge-response (onChResp)='onChResponse($event)' *ngIf='showChallenge && (componentData.challengeQuestions.length > 0)' [componentData]='componentData'></challenge-response>
             </div>
            </div>

            <!-- <change-password *ngIf='selectedStep==2 && formValidator2'></change-password> -->
        
             <form *ngIf='selectedStep==2 && formValidator2' novalidate [ngFormModel]='formValidator2' >
                <div class="error la-form-error" *ngIf='serverErr'>{{serverErr}}</div>

                <div class="error la-form-error" *ngIf='pwdChangeSuccess'>{{pwdChangeSuccess}}</div>
                <div class='step-2' >
                    <div class="">
                        <div class="text-sm text-white">Password type</div>
                           <label  class="radio-inline"> Online
                                <input  type="radio" class='radio-inputbox' name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            </label>
                            <label class="radio-inline"> Transaction
                                <input  type="radio"  class='radio-inputbox' name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            </label>
                             <div *ngIf='submitStep2 && !passwordType' class="error la-form-error">Please enter valid Password type</div>
                        </div>

                  
                     <div class="form-group-2">
                        <input type="password" ngControl='changedPwd' name='changedPwd' value='{{changedPwd.value}}' class="form-control input-lg custom-input" id="" placeholder="Password">
                         <div *ngIf='changedPwd.touched && !changedPwd.valid' class="error la-form-error">Please enter valid confirm password</div>
                    </div>
                     <div class="form-group-2">
                        <input type="password" ngControl='confirmChPwd' name='confirmChPwd' value='{{confirmChPwd.value}}' class="form-control input-lg custom-input" id="" placeholder="Confirm Password">
                         <div *ngIf='confirmChPwd.touched && !confirmChPwd.valid ' class="error la-form-error">Please enter valid confirm password</div>
                         <div *ngIf='confirmChPwd.touched && confirmChPwd.valid && confirmChPwd.value!=changedPwd.value '  class="error la-form-error">Password do not match</div>
                    </div>

                    <button (click)='submitPwdForm()' type='text' [disabled]='!formValidator2.valid || confirmChPwd.value!=changedPwd.value'  class="btn btn-lg btn-block bg-blue text-uppercase btn-custom text-center bg-blue btn-step1">Next</button>

                </div>

            </form>

            <form *ngIf='selectedStep==3'  class='from-2'>
                <div class="form-group-2">
                    <label class="text-white text-sm">Enter the OTP</label>
                    <input [(ngModel)]="otp" type="password" class="form-control input-lg custom-input text-center" id="" placeholder="●●●●">
                    <div (click)='submitPwdForm()' class="text-white text-sm font-light">Resend OTP</div>
                     <div *ngIf='otpError' class="error la-form-error">{{otpError}}</div>
                </div>
                <div (click)='validateOTP()' class="text-center btn btn-lg btn-block bg-blue text-uppercase btn-custom">submit </div>
            </form>

             <form *ngIf='selectedStep==4'  class='from-2'>
                <div class="form-group-2">
                    <div class="pwdChangeSucess" *ngIf="pwdChangeSuccess">{{pwdChangeSuccess}}
                        <div><a href="/login">Return to login page</a></div>
                    </div>

                </div>
                
            </form>




   
        </div>
    </div>
</section>
<!-- Modal -->
<div id="myModal" class="modal modal-vC " role="dialog" style="display:none;">
    <div class="modal-dialog custom-modal-sm "> 
        
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="text-center text-blue alfa-half">Forgot / Reset Password</h3>
                <br>
                <div class="form-group">
                    <input type="text" class="form-control custom-input" id="" placeholder="User ID">
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control custom-input" id="" placeholder="Answer">
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control custom-input" id="" placeholder="Answer">
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control custom-input" id="" placeholder="Answer">
                </div>
                <div class="pull-right"><a class="btn btn-lg text-uppercase btn-custom-3"  href="#">Submit <span class="glyphicon glyphicon-chevron-right
"></span> </a></div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>