/* iCheck plugin Minimal skin, black
----------------------------------- */

.icheckbox_minimal, .iradio_minimal { display: inline-block; *display: inline;
vertical-align: middle; margin: 0; padding: 0; width: 20px; height: 20px; background: url(../images/minimal.png) no-repeat; border: none; cursor: pointer; }
.icheckbox_minimal { background-position: 0 0; }
.icheckbox_minimal.hover { background-position: -22px 0; }
.icheckbox_minimal.checked { background-position: -44px 0; }
.icheckbox_minimal.disabled { background-position: -60px 0; cursor: default; }
.icheckbox_minimal.checked.disabled { background-position: -80px 0; }
.iradio_minimal { background-position: -110px 0; }
.iradio_minimal.hover { background-position: -132px 0; }
.iradio_minimal.checked { background-position: -154px 0; }
.iradio_minimal.disabled { background-position: -160px 0; cursor: default; }
.iradio_minimal.checked.disabled { background-position: -180px 0; }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
.icheckbox_minimal, .iradio_minimal { background-image: url(../images/minimal@2x.png); -webkit-background-size: 200px 20px; background-size: 200px 20px; }
}

.icheck-lg .icheckbox_minimal, .icheck-lg .iradio_minimal { width: 40px; height: 40px; background: url(../images/minimal-lg.png) no-repeat; }
.icheck-lg .iradio_minimal { background-position: -2px 0; }
.icheck-lg .iradio_minimal.hover { background-position: -44px 0; }
.icheck-lg .iradio_minimal.checked { background-position: -86px 0; }
.icheck-lg .iradio_minimal.disabled { background-position: -2px 0; cursor: default; }
.icheck-lg .iradio_minimal.checked.disabled { background-position: -2px 0; }
