/**/*.classpath
/**/*.ipr
/**/*.iml
/**/*.iws
/connectin-web/.sass-cache/*
/connectin-web/node_modules/*
/**/.settings
/target/*
/.metadata/*
/connectin-web/src/main/webapp/resources/static/**/*.js
.settings/*
**/*.class
*.classpath
.project
**/*.prefs
*.prefs
.idea
*.bat
/target
_site/