/connectin-web/target/*
/connectin-auth/target/*
/connectin-core/target/*
/connectin-config/target/*
/connectin-domain/target/*
/connectin-microsrvice/target/*
/target/*
.settings/*
**/*.class
*.classpath
.project
**/*.prefs
*.prefs
.idea
*.class
/connectin-microservice/target/**/*.class
*.iml
/target
_site/