/**/*.classpath

/connectin-web/.sass-cache/*
/connectin-web/node_modules/*

/target/*
/connectin-web/src/main/webapp/resources/static/**/*.js
.settings/*
**/*.class
*.classpath
.project
**/*.prefs
*.prefs
.idea

/target
_site/