<div class="section section-new-feed">
    <div class="section news-bar">
        <div class="media">
            <img class="d-flex mr-3 img-fluid" src="http://lorempixel.com/70/70/sports/1/" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0">Media heading</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
        </div>

        <div class="media">
            <img class="d-flex mr-3 img-fluid" src="http://lorempixel.com/70/70/sports/1/" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0">Media heading</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
        </div>
        
        <div class="media">
            <img class="d-flex mr-3 img-fluid" src="http://lorempixel.com/70/70/sports/1/" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0">Media heading</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
        </div>
    </div>
</div>

<!--<div class="col-xs-4 news-bar">-->
    <!--<h2>What's Hot</h2>-->
    <!--<div class="media news-item">-->
        <!--<div class="media-left">-->
            <!--<a href="#"> <img class="media-object"-->
                              <!--src="http://lorempixel.com/70/70/sports/1/" alt="...">-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="media-body news-content">-->
            <!--<h4>A New York doesn't necessary come from..</h4>-->
            <!--<span>3 minutes ago</span>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="media news-item">-->
        <!--<div class="media-left">-->
            <!--<a href="#"> <img class="media-object"-->
                              <!--src="http://lorempixel.com/70/70/sports/2/" alt="...">-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="media-body news-content">-->
            <!--<h4>A New York doesn't necessary come from..</h4>-->
            <!--<span>3 minutes ago</span>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="media news-item">-->
        <!--<div class="media-left">-->
            <!--<a href="#"> <img class="media-object"-->
                              <!--src="http://lorempixel.com/70/70/sports/3/" alt="...">-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="media-body news-content">-->
            <!--<h4>A New York doesn't necessary come from..</h4>-->
            <!--<span>3 minutes ago</span>-->
        <!--</div>-->
    <!--</div>-->

<!--</div>-->