<div class="col-xs-4 news-bar">
				<h2>What's Hot</h2>
				<div class="media news-item">
					<div class="media-left">
						<a href="#"> <img class="media-object"
							src="http://lorempixel.com/70/70/sports/1/" alt="...">
						</a>
					</div>
					<div class="media-body news-content">
						<h4>A New York doesn't necessary come from..</h4>
						<span>3 minutes ago</span>
					</div>
				</div>

				<div class="media news-item">
					<div class="media-left">
						<a href="#"> <img class="media-object"
							src="http://lorempixel.com/70/70/sports/2/" alt="...">
						</a>
					</div>
					<div class="media-body news-content">
						<h4>A New York doesn't necessary come from..</h4>
						<span>3 minutes ago</span>
					</div>
				</div>

				<div class="media news-item">
					<div class="media-left">
						<a href="#"> <img class="media-object"
							src="http://lorempixel.com/70/70/sports/3/" alt="...">
						</a>
					</div>
					<div class="media-body news-content">
						<h4>A New York doesn't necessary come from..</h4>
						<span>3 minutes ago</span>
					</div>
				</div>

			</div>