<nav class="custom-navbar navbar navbar-toggleable-md navbar-inverse bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand brand-name" href="#">Connectin</a>
    <div class="collapse navbar-collapse nav-header" id="navbarNavDropdown">
        <ul class="navbar-nav nav-list">

            <li class="nav-item">
                <a class="nav-link" href="#"> <i
                        class="icon-comment fa fa-comment"></i> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i
                        class="fa fa-envelope icon-envelope"></i></a>
            </li>
            <notification-list></notification-list>
            <li class="nav-item dropdown dropdown-profile-link">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="profileLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                   <span class="user-avatar pull-left"
                         style="margin-right: 8px; margin-top: -5px;"> <img
                           src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png"
                           class="img-responsive img-circle" title="John Doe"
                           alt="John Doe" width="30px" height="30px">
                        </span> <span class="user-name"> John Doe </span>
                </a>
                <div class="dropdown-menu" aria-labelledby="profileLink">
                    <a class="dropdown-item  item-row" href="#">

                        <i class="fa fa-user"></i>View profile
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item item-row" href="#"><i class="fa fa-gears"></i>Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item item-row" href="#"><i class="fa fa-lock"></i>Account
                        and
                        privacy</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item item-row" href="#"><i
                            class="fa fa-phone-square"></i>Help center</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item item-row" href="#"><i class="fa fa-group"></i>Admin
                        request</a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
        </ul>
    </div>
</nav>