@import url(https://fonts.googleapis.com/css?family=Montserrat);
/* line 9, ../../../scss/modules/user-profile/user-profile.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/* line 13, ../../../scss/modules/user-profile/user-profile.scss */
.fb-profile img.fb-image-lg {
  z-index: 0;
  width: 100%;
  margin-bottom: 10px;
}

/* line 18, ../../../scss/modules/user-profile/user-profile.scss */
.fb-image-profile {
  margin: -90px 10px 0px 50px;
  z-index: 9;
  width: 20%;
}

@media (max-width: 768px) {
  /* line 27, ../../../scss/modules/user-profile/user-profile.scss */
  .fb-profile-text > h1 {
    font-weight: 700;
    font-size: 16px;
  }

  /* line 32, ../../../scss/modules/user-profile/user-profile.scss */
  .fb-image-profile {
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%;
  }
}
/* FONTS */
/* line 49, ../../../scss/modules/user-profile/user-profile.scss */
.container {
  padding: 30px 0px 30px 0px;
}

/* NAVIGATION TABS*/
/* line 56, ../../../scss/modules/user-profile/user-profile.scss */
.nav {
  background-color: #ffffff;
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 4px #CECECE;
}

/* line 63, ../../../scss/modules/user-profile/user-profile.scss */
.nav-tabs li:hover {
  background-color: #121025 !important;
  border: medium none;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

/* line 70, ../../../scss/modules/user-profile/user-profile.scss */
.nav-tabs > li > a, .nav-tabs > li > i {
  border: medium none;
  color: #333;
  font-family: "Montserrat", sans-serif;
  transition: all 0.5s ease;
}
/* line 75, ../../../scss/modules/user-profile/user-profile.scss */
.nav-tabs > li > a:hover, .nav-tabs > li > i:hover {
  color: #ffffff;
}

/* line 79, ../../../scss/modules/user-profile/user-profile.scss */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > i,
.nav-tabs > li.active > i:focus {
  color: #dd5555;
  border: transparent !important;
}
/* line 85, ../../../scss/modules/user-profile/user-profile.scss */
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus:hover,
.nav-tabs > li.active > i:hover,
.nav-tabs > li.active > i:focus:hover {
  color: #ffffff;
}

/* line 90, ../../../scss/modules/user-profile/user-profile.scss */
.nav-tabs > li,
.nav-pills > li {
  float: none;
  display: inline-block;
  *display: inline;
  /* for IE7*/
  *zoom: 1;
  /* for IE7*/
}

/* line 100, ../../../scss/modules/user-profile/user-profile.scss */
.nav-tabs {
  text-align: center;
}

/* ICONS */
/* line 107, ../../../scss/modules/user-profile/user-profile.scss */
i {
  color: #EBEBEB;
  transition: all 0.5s ease;
}
/* line 110, ../../../scss/modules/user-profile/user-profile.scss */
i:hover {
  color: #dd5555;
}

/* TABS CONTAINER */
/* line 118, ../../../scss/modules/user-profile/user-profile.scss */
.tab-feed .tab-feed-nav {
  padding: 10px;
  border-radius: 0px;
}

/* line 126, ../../../scss/modules/user-profile/user-profile.scss */
.content {
  padding: 0px;
  margin-top: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 5px #CECECE;
}

/* line 133, ../../../scss/modules/user-profile/user-profile.scss */
.btn,
.btn:hover {
  background-color: #dd5555;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  padding: 5px 25px 5px 25px;
}

/* line 141, ../../../scss/modules/user-profile/user-profile.scss */
.btn-more,
.btn-more:hover {
  font-size: 11px;
  padding: 5px 15px 5px 15px;
  background-color: #dd5555;
  color: #ffffff;
  margin-top: 10px;
}

/* line 150, ../../../scss/modules/user-profile/user-profile.scss */
h1 {
  font-family: "Montserrat", sans-serif;
  color: #dd5555;
  font-size: 22px;
}

/* line 156, ../../../scss/modules/user-profile/user-profile.scss */
h2 {
  font-family: "Montserrat", sans-serif;
  color: #dd5555;
  font-size: 18px;
}

/* line 162, ../../../scss/modules/user-profile/user-profile.scss */
p {
  font-family: "Montserrat", sans-serif;
  color: #EBEBEB;
}

/* line 167, ../../../scss/modules/user-profile/user-profile.scss */
.social {
  margin-top: 50px;
}
/* line 169, ../../../scss/modules/user-profile/user-profile.scss */
.social li {
  display: inline;
  margin-right: 35px;
}

/* line 175, ../../../scss/modules/user-profile/user-profile.scss */
.work {
  padding: 20px;
  margin-left: 20px;
  border-left: 2px solid #dd5555;
}
/* line 179, ../../../scss/modules/user-profile/user-profile.scss */
.work i {
  color: #dd5555;
}

/* line 184, ../../../scss/modules/user-profile/user-profile.scss */
.media {
  margin-left: -29px;
}

/* CONTACT */
/* line 191, ../../../scss/modules/user-profile/user-profile.scss */
.contact i {
  color: #ffffff;
}

/* line 195, ../../../scss/modules/user-profile/user-profile.scss */
.form-horizontal {
  padding: 15px;
}

/* line 199, ../../../scss/modules/user-profile/user-profile.scss */
.form-control {
  border: transparent !important;
  background-color: #EBEBEB;
}

/* line 204, ../../../scss/modules/user-profile/user-profile.scss */
.input-group {
  margin-bottom: 15px;
}

/* line 208, ../../../scss/modules/user-profile/user-profile.scss */
.input-group-addon {
  background-color: #dd5555;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  border: transparent !important;
}
