@import url("//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

.container{
  .feeds{
        margin-left: 14px;
  }
}


.container{
  font-family: "Lato", "Lucida Grande","Lucida Sans Unicode", Tahoma, Sans-Serif;
}

.menu {
  background: #fff;
  height: 60px;
  line-height: 60px;
  font-size: 12pt;
}
  .toggle, .mainmenu, .search, .social, .user {
    float: left;
  }

  .search, .social, .user {
    padding-left: 12px;
    padding-right: 12px;
  }

  .menuright {
    float: right;
    color: #C5CDD0;
  
    a { color: #C5CDD0; transition: 0.3s; }
    a:hover, a.active { color: #57CBC8; }
  }

  .toggle {
    width: 60px;
    font-size: 20pt;
    text-align: center;
    background: #57CBC8;
    color: #fff;
  }

  .mainmenu {
    margin-left: 10px;
    
    a { text-decoration: none; color: #475258; transition: 0.3s; }
    a:hover { color: #57CBC8; }
    li { display: inline-block; margin-left: 40px; }
  }

  .search {
    input { display: none; border: 1px solid #C5CDD0; padding: 5px; font-size: 12pt; outline: none; }
  }

  .social {
    border-left: 1px solid lighten(#C5CDD0, 10%);
    border-right: 1px solid lighten(#C5CDD0, 10%);
  
    li { display: inline-block; margin: 0 6px; }
  }

.new-latest-container {
  overflow: hidden;
  margin-top: 1.5%;
}

.news-bar {
  
  padding-bottom: 1.5%;
  background: #fff;
  color: #475258;
  
  .news-item { padding: 6%; }
  
  .news-content { 
    
    h4 {font-size: medium; color: #475258; }
    
    span { display: block; margin-top: 6%; color: lighten(#475258, 30%); font-size: 8pt; }
    
  }
}

.content {
  float: right;
  width: 66.5%;
  background: #fff;
}

.image {
  background: #fff;
  position: relative; overflow: hidden;
  
  img { position: relative; z-index: 0; width: 100%; display: block; height: auto; transition: 0.3s;
    &:hover { opacity: 0.8; }
  }
  
  span { background: #EA6060; display: block; position: absolute; font-size: 16pt; width: 20%; color: #fff; text-align: center; padding: 20% 10% 2%; transform: rotateZ(-45deg); top: -25%; left: -20%; z-index: 1; }
}


.share {
  margin-top: 5%;
  
  li { display: inline-block; margin-right: 5%; font-weight: 300; }
  
  a { color: #999; transition: 0.3s;
    i, &:hover { color: #57CBC8; }
    
  }
  
}
