		<section>
    <div class="container">
        <div class="container-dark container-sm pull-center">
            <h1 class="heading-1">User Registration</h1>
            <form   [ngFormModel]='formValidator' *ngIf='selected==1' class='form-1'> 
                <div *ngIf="submitStep1 && serverError" class="error la-form-error">{{serverError}}</div>
                <div class="form-group-2">
                    <input ngControl='userId' type="text" class="form-control input-lg custom-input" id="" placeholder="Customer ID">
                    <div *ngIf='userId.touched && !userId.valid ||  (!userId.touched && !userId.valid && submitStep1)' class="error la-form-error">Please enter valid User id</div>

                </div>
                <div class="form-group-2">
                    <input ngControl='debitCardNo' type="text" class="form-control input-lg custom-input" id="" placeholder="Debit Card no">
                     <div *ngIf='debitCardNo.touched && !debitCardNo.valid ||  (!debitCardNo.touched && !debitCardNo.valid && submitStep1)' class="error la-form-error">Please enter valid Debit card Number</div>

                </div>
                <div class="form-group-2">
                    <input ngControl='debitPinNo'  type="text" class="form-control input-lg custom-input" id="" placeholder="Debit PIN">

                    <div *ngIf='debitPinNo.touched && !debitPinNo.valid ||  (!debitPinNo.touched && !debitPinNo.valid && submitStep1)' class="error la-form-error">Please enter valid Debit card Pin</div>

                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group-2 datepicker">
                            <div class="input-group  date" >
                                <input  type="text" class="exp-date form-control input-lg custom-input" placeholder="From Date" />

                                <span class="addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
                                 <div *ngIf='invalidFromDate && submitStep1' class="error la-form-error">Please enter valid Expiry date</div>


                                 </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group-2">
                            <input ngControl='cvv' type="text" class="form-control input-lg custom-input" id="" placeholder="CVV">

                             <div *ngIf='cvv.touched && !cvv.valid ||  (!cvv.touched && !cvv.valid && submitStep1)' class="error la-form-error">Please enter valid cvv</div>

                        </div>
                    </div>
                </div>
               <!-- -------------------------------------------------------------------------------------------------- -->
               <!--  <div class="form-group-2">
                    <input ngControl='brCode' type="text" class="form-control input-lg custom-input" id="" placeholder="Branch code">
                    <div *ngIf='brCode.touched && !brCode.valid ||  (!brCode.touched && !brCode.valid && submitStep1)' class="error la-form-error">Please enter valid Branch Code </div>

                </div>

                <div class="form-group-2">
                    <input ngControl='custName' type="text" class="form-control input-lg custom-input" id="" placeholder="Customer name">
                    <div *ngIf='custName.touched && !custName.valid ||  (!custName.touched && !custName.valid && submitStep1)' class="error la-form-error">Please enter valid Customer name</div>

                </div>


                <div class="form-group-2">
                    <input ngControl='add1' type="text" class="form-control input-lg custom-input" id="" placeholder="Address 1">
                    <div *ngIf='add1.touched && !add1.valid ||  (!add1.touched && !add1.valid && submitStep1)' class="error la-form-error">Please enter valid address 1</div>

                </div>

                <div class="form-group-2">
                    <input ngControl='add2' type="text" class="form-control input-lg custom-input" id="" placeholder="Address 2">
                    <div *ngIf='add2.touched && !add2.valid ||  (!add2.touched && !add2.valid && submitStep1)' class="error la-form-error">Please enter valid address 2</div>

                </div>

                <div class="form-group-2">
                    <input ngControl='add3' type="text" class="form-control input-lg custom-input" id="" placeholder="Address 3">
                    <div *ngIf='add3.touched && !add3.valid ||  (!add3.touched && !add3.valid && submitStep1)' class="error la-form-error">Please enter valid address 3</div>

                </div>



                <div class="form-group-2">
                    <input ngControl='pincode' type="text" class="form-control input-lg custom-input" id="" placeholder="Pincode">
                    <div *ngIf='pincode.touched && !pincode.valid ||  (!pincode.touched && !pincode.valid && submitStep1)' class="error la-form-error">Please enter valid pincode</div>

                </div>

                <div class="form-group-2">
                    <input ngControl='phoneNum' type="text" class="form-control input-lg custom-input" id="" placeholder="Phone number">
                    <div *ngIf='phoneNum.touched && !phoneNum.valid ||  (!phoneNum.touched && !phoneNum.valid && submitStep1)' class="error la-form-error">Please enter valid phone number</div>

                </div>

                <div class="form-group-2">
                    <input ngControl='city' type="text" class="form-control input-lg custom-input" id="" placeholder="City">
                    <div *ngIf='city.touched && !city.valid ||  (!city.touched && !city.valid && submitStep1)' class="error la-form-error">Please enter valid City</div>

                </div> -->








                <div (click)='nextStep(1)' class="text-center btn btn-lg btn-block bg-blue text-uppercase btn-custom">Next </div>
        </form>

         <div class="clear20"></div>
            <form *ngIf='selected==2'  class='from-2'>
            <div class="form-group-2">
                <label class="text-white text-sm">Enter the OTP</label>
                <input type="password" class="form-control input-lg custom-input text-center" id="" placeholder="●●●●">
                <div class="text-white text-sm font-light"><a href="#">Resend OTP</a></div>
            </div>
            <div (click)='nextStep(2)' class="text-center btn btn-lg btn-block bg-blue text-uppercase btn-custom">submit </div>
            </form>
        <form [ngFormModel]='pwdFormValidator' *ngIf='selected==3'>
             <div *ngIf='passwordChangeError' class="error la-form-error">{{passwordChangeError}}</div>

           <div class='label'>Online Password</div>
            <div class="form-group-2">
                    <input ngControl='pwd1' type="text" class="form-control input-lg custom-input" id="" placeholder="password">
                    <div *ngIf='pwd1.touched && !pwd1.valid ||  (!pwd1.touched && !pwd1.valid && submitStep3)' class="error la-form-error">Please enter valid password</div>

            </div>
            <div class="form-group-2">
                    <input ngControl='confirmPwd1' type="text" class="form-control input-lg custom-input" id="" placeholder="confirm password">
                    <div *ngIf='confirmPwd1.touched && !confirmPwd1.valid ||  (!confirmPwd1.touched && !confirmPwd1.valid && submitStep3)' class="error la-form-error">Please enter valid password</div>

            </div>



           <div class='label'>Transaction Password</div>


            <div class="form-group-2">
                    <input ngControl='pwd2' type="text" class="form-control input-lg custom-input" id="" placeholder="password">
                    <div *ngIf='pwd2.touched && !pwd2.valid ||  (!pwd2.touched && !pwd2.valid && submitStep3)' class="error la-form-error">Please enter valid User id</div>

            </div>
            <div class="form-group-2">
                    <input ngControl='confirmPwd2' type="text" class="form-control input-lg custom-input" id="" placeholder="confirm password">
                    <div *ngIf='confirmPwd2.touched && !confirmPwd2.valid ||  (!confirmPwd2.touched && !confirmPwd2.valid && submitStep3)' class="error la-form-error">Please enter valid User id</div>

            </div>

            <div *ngIf='chErr' class="error la-form-error">{{chErr}}</div>

            <challenge-response *ngIf='(componentData.challengeQuestions.length > 0)' (onFormSubmit)='onSubmit($event)' [componentData]='componentData'></challenge-response>
        </form>
        </div>
    </div>
</section>