<div>
	<div class="storyline container">
		<div class="row">
			<news-feed class="storyline-component news-feed"></news-feed>

			<div class="col-xs-6 storyline-component feeds">
				<div class="panel panel-default">
                <div class="panel-body">
                    <span>
                       
                        <div class="storyline-component visibility-dropdown dropdown pull-right">
                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Friends
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Familly</a></li>
                                <li><a href="#"><i class="fa fa-fw fa-check" aria-hidden="true"></i> Friends</a></li>
                                <li><a href="#">Work</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#"><i class="fa fa-fw fa-plus" aria-hidden="true"></i> Add a new aspect</a></li>
                            </ul>
                        </div>
                    </span>
                    <br><br>
                   <hr>
                    <div class="media storyline-component user-post">
                        <div class="pull-left">
                            <a href="#">
                                <img class="media-object img-circle" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="35px" height="35px" style="margin-left:3px; margin-right:-5px;">
                            </a>
                        </div>
                        <div class="media-body">
                            <textarea class="form-control" rows="1" placeholder="Post"></textarea>
                        </div>
                    </div>
                   
                </div>
            </div>
			<story-card class="storyline-component story-card"></story-card>
			</div>
		</div>
	</div>
	
</div>

