<div>
	<div class="container">
		<div class="row">
			<div class="col-xs-4 news-bar">
				<h2>What's Hot</h2>
				<div class="media news-item">
					<div class="media-left">
						<a href="#"> <img class="media-object"
							src="http://lorempixel.com/70/70/sports/1/" alt="...">
						</a>
					</div>
					<div class="media-body news-content">
						<h4>A New York doesn't necessary come from..</h4>
						<span>3 minutes ago</span>
					</div>
				</div>

				<div class="media news-item">
					<div class="media-left">
						<a href="#"> <img class="media-object"
							src="http://lorempixel.com/70/70/sports/2/" alt="...">
						</a>
					</div>
					<div class="media-body news-content">
						<h4>A New York doesn't necessary come from..</h4>
						<span>3 minutes ago</span>
					</div>
				</div>

				<div class="media news-item">
					<div class="media-left">
						<a href="#"> <img class="media-object"
							src="http://lorempixel.com/70/70/sports/3/" alt="...">
						</a>
					</div>
					<div class="media-body news-content">
						<h4>A New York doesn't necessary come from..</h4>
						<span>3 minutes ago</span>
					</div>
				</div>

			</div>

			<div class="col-xs-6 feeds">
				<div class="panel panel-default">
                <div class="panel-body">
                    <span>
                        <h1 class="panel-title pull-left" style="font-size:30px;">John Doe <small>example@pods.tld</small> <i class="fa fa-check text-success" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="John Doe is sharing with you"></i></h1>
                        <div class="dropdown pull-right">
                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Friends
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Familly</a></li>
                                <li><a href="#"><i class="fa fa-fw fa-check" aria-hidden="true"></i> Friends</a></li>
                                <li><a href="#">Work</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#"><i class="fa fa-fw fa-plus" aria-hidden="true"></i> Add a new aspect</a></li>
                            </ul>
                        </div>
                    </span>
                    <br><br>
                   <hr>
                    <div class="media">
                        <div class="pull-left">
                            <a href="#">
                                <img class="media-object img-circle" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="35px" height="35px" style="margin-left:3px; margin-right:-5px;">
                            </a>
                        </div>
                        <div class="media-body">
                            <textarea class="form-control" rows="1" placeholder="Post"></textarea>
                        </div>
                    </div>
                    <!-- <span class="pull-left">
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="post-icons fa fa-fw fa-files-o" aria-hidden="true"></i> Posts</a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="post-icons fa fa-fw fa-picture-o" aria-hidden="true"></i> Photos <span class="badge">42</span></a>post-icons 
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="post-icons fa fa-fw fa-users" aria-hidden="true"></i> Contacts <span class="badge">42</span></a>
                    </span>
                    <span class="pull-right">
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="post-icons fa fa-lg fa-at" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Mention"></i></a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="post-icons fa fa-lg fa-envelope-o" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Message"></i></a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="post-icons fa fa-lg fa-ban" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Ignore"></i></a>
                    </span> -->
                </div>
            </div>
				<div class="feeds-status row">
					

					<h1>What is Lorem Ipsum?</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe
						eveniet hic eaque neque explicabo architecto rerum porro
						cupiditate dignissimos ratione doloribus veritatis maiores sed
						consequuntur totam nostrum inventore ex fugit... <a href="#">Read
							more</a>
					</p>


					<div class="feed-info">
						
						<div class="panel-body feed-stack feed-likes">
							<div class="col-xs-8 row">
								<span><a href="#"><img src="http://goo.gl/oM0Y8G"
										alt="" /></a></span> <span><a href="#"><img
										src="http://goo.gl/vswgSn" alt="" /></a></span> <span><a href="#"><img
										src="http://goo.gl/oM0Y8G" alt="" /></a></span> <span><a href="#">+99</a></span>
								<span>Like this</span>
							</div>
							<div class="col-xs-4 pull-right feed feed-actions">
								<div class="col-xs-4 feed-action-like">
									<span class="glyphicon glyphicon-thumbs-up"></span>
								</div>
								<div class="col-xs-4 feed-action-comment">
									<a data-toggle="collapse" href="#collapse1"><span
										class="glyphicon glyphicon-comment"></span></a>
								</div>
								<div class="col-xs-4 feed-action-share">
									<span class="glyphicon glyphicon-share-alt"></span>
								</div>
							</div>
						</div>
						<div class="panel-body feed feed-more-comments">
							<span class="glyphicon glyphicon-comment"></span> <a
								data-toggle="collapse" href="#collapse1"><span>145
									comments</span></a>
						</div>
						<div id="collapse1"
							class="panel-body panel-collapse collapse feed feed-comments ">
							<ul class="list-group">
								<li class="list-group-item">
									<div class="feed feed-comment">
										<div class="col-xs-6">
											<div class="media">
												<div class="media-left">
													<a href="#"> <img class="media-object image-responsive"
														src="http://goo.gl/oM0Y8G" alt="...">
													</a>
												</div>
												<div class="media-body">

													<a href="">Emily Rudd</a>
													<div>
														<span class="time"> 1 hr - </span><span
															class="glyphicon glyphicon-thumbs-up"></span>
													</div>

												</div>
											</div>
										</div>
										<div class="col-xs-6">
											<p>Wow irealy, i love here. Nice pic</p>
										</div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="feed feed-comment">
										<div class="col-xs-6">
											<div class="media">
												<div class="media-left">
													<a href="#"> <img class="media-object image-responsive"
														src="http://goo.gl/vswgSn" alt="...">
													</a>
												</div>
												<div class="media-body">

													<a href="">Emily Rudd</a>
													<div>
														<span class="time"> 1 hr - </span><span
															class="glyphicon glyphicon-thumbs-up"></span>
													</div>

												</div>
											</div>
										</div>
										<div class="col-xs-6">
											<p>Wow irealy, i love here. Nice pic</p>
										</div>
									</div>
								</li>
							</ul>

							<div class="panel-body feed-new-comment">
								<div class="">
									<img class="image-responsive pull left"
										src="http://goo.gl/oOD0V2">
								</div>
								<div class="input-group" style="padding: 2px;">

									<input type="text" class="form-control comment-text"
										placeholder="Username" aria-describedby="basic-addon1">
									<span class="input-group-addon glyphicon glyphicon-plane"
										id="basic-addon1"></span>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(function() {
			$('.search a').on('click', function() {
				$('.search input').fadeToggle('400').focus();
				$(this).toggleClass('active');
				return false;
			});
		});
	</script>
</div>

