
    <div class="clearfix"></div>
    <div class="container-basic bg-blue fundtransfersDiv">
        <div class="steps-container"> <a *ngIf='actionItem.selected!=1' class="icon-back" (click)='goBack()' ></a>
            <div class="steps"> 
            <a *ngFor='#item of actionItem.items;#i = index' [class.active]='item===actionItem.selected'  class="item">{{item}}</a>
            </div>
        </div>
        <!--step-1-->

        <form [ngFormModel]='formValidator' novalidate  (ngSubmit)="clickNext(1)" *ngIf='actionItem.selected==1' class="step-1">
            <div class="custom-select">
                <div class="icon-select-dropdown"></div>
                <input  value='{{transType.value}}' class="select-value" type="text"  >
                <select required ngControl='transType'  (change)='onSelectType($event)' class="select-value form-control"   class="select-list">
                    <option  *ngFor='#transType of transaction.transTypes'>{{transType}}</option>
                </select>
            </div>

            <div class="custom-select">
                <div class="icon-select-dropdown"></div>
                <input  value='{{transaction.transferTo}}' class="select-value" type="text"  >
                <select *ngIf='transaction.transferList.length && transaction.transferList.length>0' required ngControl='transTo' class="select-value form-control"  (change)='onToTransferChange($event)' class="select-list">
                    <option *ngFor='#account of transaction.transferList' >{{account.fullName || account.acctNumber}}</option>                                            
                </select>
             
            </div>
               <div class="error ft-form-error" *ngIf="!transTo.valid && subMitStep1">Please select an account to transfer to!</div>
               
            <div class="pull-right"><button  [disabled]="accountDetails.acctBalance =='0.0'"class="btn btn-custom-2" type='submit'>Next &gt; </button></div>
        </form>
        

        <div class="pull-left"><a class="btn btn-custom-2" data-toggle="modal" data-target="#addModal">Add Payee</a></div>

        <div class="clear10"></div>
        <!--step-2-->
        <form [ngFormModel]='formValidator' *ngIf='actionItem.selected==2' class="step-2">

            <div class="text-xs text-white font-light">Transfer to A/C. No.: {{selectedBenef.beneficiaryAcctId || selectedBenef.acctNumber}}</div>
            <div class="row">
                <div class="col-md-1 text-md text-white font-light"><span class="font-rs">`</span> </div>
                <div class="col-md-11">
                    <div class="form-group">
                        <input ngControl='amount' [(ngModel)]='transaction.transAmount' type="text" class="form-control custom-input" id="" placeholder="0000000">
                        <div *ngIf='!amount.valid && subMitStep2' class="text-red ">Please enter an amount to Transfer</div>

                        <div *ngIf='amount.touched && !validateAmount()' class="text-red ">Amount Exceeds the limit</div>


                        <div class="text-xs text-white font-light"> Available limit <span class="font-rs">`</span> {{selectedBenef.rtgsLimit.toLocaleString()}}/-</div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <div class="text-xs text-white font-light"> Enter Transaction Password</div>
                <input ngControl='transPwd' [(ngModel)]='transaction.transPassword'  type="password" class="form-control custom-input text-center" id="" placeholder="Enter Password">
                <div *ngIf='!transPwd.valid && subMitStep2' class="text-red error ft-form-error">Please enter Transaction password</div>
                

                  <div *ngIf='invalidPwd' class="text-red error ft-form-error">Password does not match</div>
                 

            </div>
            <button [disabled]='!transPwd.valid || !validateAmount()' (click)='clickNext(2)'  class="pull-right btn btn-custom-2">Confirm</button>
        </form>
        <div class="clear10"></div>
        <!--step-3-->
        <div   *ngIf='actionItem.selected==3' class="step-3">
            <div  *ngIf='!showTransactionRes && !showTransactionError'>
            <form [ngFormModel]='formValidator'  class="form-group">
                <div class="text-xs text-white font-light "> Enter the OTP </div>
                <input ngControl='otp' type="password" class="form-control custom-input text-center" id="" placeholder="Enter the OTP">
            </form>
            <div (click)='resendOTP()'>Resend OTP </div>
            <div *ngIf='!otp.valid && subMitStep3' class="text-red error ft-form-error">Please enter an OTP to continue </div>
             <div *ngIf='invalidOtp && subMitStep3' class="text-red error ft-form-error">{{otpError}}</div>

            <div class="pull-right"><a class="btn btn-custom-2"  (click)='clickNext(3)'>Confirm </a></div>
            </div>
            <div class="clear10"></div>
             <div *ngIf='showTransactionRes' class="step-sucess">
                <div class="icon-sucess"></div>
                <div class="text-white text-center">{{transaction.responseMessage}}</div>
                <div class="clear10"></div>
                <div class="text-white"> <span class="text-xs alfa-half">The amount of </span> <span class="text-white"><span class="font-rs">`</span>{{transaction.transAmount}}</span><br>
                    <span class="text-xs alfa-half">transfered to A/C No.: {{selectedBenef.beneficiaryAcctId}}</span><br>
                    <span class="text-xs alfa-half">Your balance is</span> <span class="text-white"> <span class="font-rs">`</span>{{accountDetails.acctBalance}}</span><br>
                    <span class="text-xs alfa-half">Your Transaction id is: {{transaction.transactionID}}</span> </div>
            </div>


             <div *ngIf='showTransactionError' class="trans-error">
                <div class="title">Error</div>
                <div class="glyphicon glyphicon-remove text-red trans-error-icon"></div>
                <div class="text-white text-center">Error message: {{transaction.error}}</div>
                <span class="text-xs alfa-half">Your Transaction id is: {{transaction.transactionID}}</span>
                <div class="clear10"></div>
            </div>




        </div>
        
        <!--step-4-->
       
        <div class="clearfix"></div>
    </div>
