<div class="container" *ngIf='acctSummary '>
    
    <section>
        <div class="wrapper transaction-container">
            <div class="container-white">
                <div class="row row1">
                    <div class="col-md-4">
                        <div style='font-size:23px' class="text-md text-blue">{{transactionData.currentAccount.acctName}}</div>
                        <div class="text-gray">A/C. No: {{transactionData.currentAccount.acctNumber}}</div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-xs text-gray">Total Credited</div>
                                <div class="text-sm text-green" *ngIf='acctSummary.totalTrans.credits'> <span class="font-rs text-black">`</span> {{acctSummary.totalTrans.credits.toLocaleString()}}</div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-xs text-gray">Total Debited</div>
                                <div class="text-sm text-red" *ngIf='acctSummary.totalTrans.debits'> <span class="font-rs text-black">`</span> {{acctSummary.totalTrans.debits.toLocaleString()}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                         <button type="button" class="close trans-close" data-dismiss="modal" (click) = 'onClose()'>&times;</button>
                        <div class="text-xs text-gray text-right curr-balance">Current Balance</div>
                        <div class="text-xl text-right"><span class="font-rs text-md">`</span>{{transactionData.currentAccount.acctBalance.toLocaleString()}}</div>
                    </div>
                </div>
                
                <div class="row row2">
                    <div class="col-md-3 select-acc-div">
                        <div class="custom-select" style="width:;">
                            <div class="icon-select-dropdown"></div>
                            <input class="select-value" type="text" value="{{transactionData.currentAccount.acctName}}" >
                            <select (change)='onAccountChange($event)' class="select-list" >
                                <option [value]="i" *ngFor="#account of transactionData.accountList;#i=index" >{{account.acctName}}</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 radio-div">
                        <div class="">
                            
                            <label  class="radio-inline"> 1 Week
                                <input  type="radio" class='radio-inputbox' name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            </label>
                            <label class="radio-inline">  1 Month
                                <input   type="radio"  class='radio-inputbox' name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            </label>
                             <label  class="radio-inline">  3 Months
                                <input  type="radio" class='radio-inputbox' name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            </label>
                            <label class="radio-inline"> 1 Year
                                <input  checked type="radio"  class='radio-inputbox' name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            </label>
                            


                            <!--  <label (click)='onTimespanChange(0)' class="radio-inline"> 1 Week
                                <input type="radio" class='radio-inputbox' name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            </label>
                            <label (click)='onTimespanChange(1)'  class="radio-inline"> 1 Month
                                <input type="radio"  class='radio-inputbox' name="inlineRadioOptions" id="inlineRadio2" value="option2" >
                            </label>
                            <label (click)='onTimespanChange(2)'  class="radio-inline"> 3 Months
                                <input type="radio" class='radio-inputbox' name="inlineRadioOptions" id="inlineRadio3" value="option3">
                            </label>
                            <label (click)='onTimespanChange(3)'  class="radio-inline"> 1 Year
                                <input type="radio" class='radio-inputbox' name="inlineRadioOptions" id="inlineRadio4" value="option4" checked>
                            </label> -->

                        </div>
                    </div>
                    <div class="col-md-3 dates-div">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group datepicker">
                                        <div class="input-group date" >
                                            <input id='startDate' (change)="changeDate('start')" [(ngModel)]='startDate' type="text" class="form-control custom-input" placeholder="From Date" />
                                            <span class="addon"> <span class="glyphicon glyphicon-calendar"></span> </span> </div>
                                    </div>
                                    
                                </div>
                                <div class="col-md-6 ">
                                    <div class="form-group datepicker">
                                        <div class="input-group datetimepicker" >
                                            <input id='endDate' (change)="changeDate('end')" [(ngModel)]='endDate' type="text" class="form-control custom-input" placeholder="To Date" />
                                            <span class="addon"> <span class="glyphicon glyphicon-calendar"></span> </span> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 links-div">
                        <div class="statements-links"> 
                            <span class="icon-pdf" (click)='generatePDF()' ></span> 
                            <span class="icon-excel" (click)='exportToCSV()'></span> 
                            <span class="icon-email"></span> </div>
                    </div>
                </div>
                <div class="row row3">
                    <div class="col-md-12  statement-section" >
                        <table class="table table-bordered table-striped custom-table table-trans" id="myTable" >
                            <thead>
                                <th class="text-center table-header">S. No.</th>
                                <th class="text-center table-header">  Date</th>
                                <th class="text-left table-header">Description</th>
                                <th class="text-right table-header">Debit</th>
                                <th class="text-right table-header">Credit</th>
                                <th class="text-right table-header" >Balance</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="#transaction of  transactionList;#i =index">
                                    <td class="text-center">{{i+1}}</td>
                                    <td class="text-center">{{transaction.transactionDate}}</td>
                                    <td class="text-left">{{transaction.transactionDesc}}</td>
                                    <td class="text-right" ><span class="text-red" *ngIf='transaction.transactionType==config.TRANS_TYPE.CR'>-</span> <span class="text-red" *ngIf='transaction.transactionType==config.TRANS_TYPE.DB'>{{transaction.transactionAmt}}</span></td>
                                    <td class="text-right"><span class="text-green" *ngIf='transaction.transactionType==config.TRANS_TYPE.DB'>-</span> <span class="text-green" *ngIf='transaction.transactionType==config.TRANS_TYPE.CR'>{{transaction.transactionAmt}}</span></td>
                                    <td class="text-right">{{transaction.transactionBalance || '-'}}</td>
                                </tr>
                            </tbody>
                             <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <!-- <mfBootstrapPaginator></mfBootstrapPaginator> -->
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <div *ngIf='transactionList && transactionList.length==0' class="error la-form-error">No transactions found for the account!</div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    
</div>

<div>Transactions</div>