
                    <div class="container-white my-account-section">
                        <h5>{{accountData.acctName}}</h5>

                        <div class="text-xs text-gray pull-left">A/C. No.: {{accountData.acctNumber}}</div>
                          <!-- <div class="col-md-6 col-xs-3"><a class="text-xs viewDetails" (click)='viewTransactionDetails()'> <span class="glyphicon glyphicon-play"></span> View Details</a></div> -->
                        <br>
                        <div class="custom-select-2" style="width:80%;">
                            <div class="icon-select-dropdown"></div>
                            <input class="select-value" type="text"value="{{accountData.acctName}}" >
                            <select (change)='onAccountChange($event)' class="select-list">
                                <option value="{{account.acctNumber}}" *ngFor='#account of rawAccountData'   >{{account.acctName}}</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                        <div class="heading-divider">
                            <div class="orange-line"></div>
                        </div>
                        <div class="text-xs text-gray">Balance in <span class="font-rs">`</span></div>
                        <div class="row">
                            <div *ngIf='accountData.acctBalance' class="col-md-6 col-xs-6 text-md">{{accountData.acctBalance.toLocaleString()}}</div>
                            <div class="col-md-6 col-xs-6"><!-- <img class="img-responsive" src="custom/images/graph1.jpg"  alt=""/> -->
                                
                                <line-chart  class='points-chart' [(type)]='chartData.chart.type' [(chartData)]='chartData.data'></line-chart>
                            </div>
                        </div>
                        <div class=" row inbox">
                            <div class="col-md-2 col-xs-1"><span class="icon-mail"></span></div>
                            <div class="col-md-10 col-xs-11">
                                <div *ngIf='accountData.lastTransDesc && accountData.transDate'class="text-blue" style='word-wrap:break-word;'>{{accountData.lastTransDesc}} for amount {{accountData.lastTransAmt}} on date <span *ngIf='accountData.transDate'>{{accountData.transDate}}</span></div>

                                <div *ngIf='!accountData.lastTransDesc || !accountData.transDate'class="text-blue">No Transactions found!</div>

                            </div>
                        </div>
                        <div class="overview">
                        <ul class="custom-tab">
                            <li style='cursor:pointer' (click)='viewTransactionDetails()'> <a ><span class="icon-paper"></span> e-Statements </a></li>
                            <li> <a href="#"><span class="icon-cart"></span> Bill Payments </a></li>
                        </ul>
                        <div class="clearfix"></div>
                        <div  class="basic-divider"></div>
                        <ul class="custom-tab">
                            <li class="active"> <a href="#"><span class="icon-transfer"></span> Fund Transfers</a></li>
                            <li> <a href="#"><span class="icon-bell"></span> Set Alerts</a></li>
                        </ul>
                       <fund-transfer (onViewDetails)='showTransactions($event)' [(accountDetails)]='accountData'></fund-transfer>


                   </div>
                        <div class="clearfix"></div>
                    </div>
