<div class="panel panel-default feed feed-panel">
					<div class="panel-heading feed feed-heading">
						<div class="media">
							<div class="media-left">
								<a href=""><img
									class="media-object img-circle feed feed-heading header-image"
									src="http://goo.gl/oOD0V2" alt="" /></a>
							</div>
							<div class="media-body feed feed-heading content">
								<div>
									<a class="feed feed-heading user">Roswell Parian</a>
								</div>
								<span>March 21,18:45pm <i class="fa fa-globe"></i></span>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="box-content">
							<div class="content">
								<img class="img-responsive" src="http://goo.gl/oM0Y8G" alt="" />
							</div>
							<div class="panel-body feed-stack feed-status">
								<p>The life is much more interesant, when you remmenber the
									last time</p>
								<span><span class="fa fa-search-plus"></span></span>
							</div>

							<div class="panel-body feed-stack feed-likes">
								<div class="col-xs-8 row">
									<span><a href="#"><img src="http://goo.gl/oM0Y8G"
											alt="" /></a></span> <span><a href="#"><img
											src="http://goo.gl/vswgSn" alt="" /></a></span> <span><a
										href="#"><img src="http://goo.gl/4W27eB" alt="" /></a></span> <span><a
										href="#">+99</a></span> <span>Like this</span>
								</div>
								<div class="col-xs-4 pull-right feed feed-actions">
									<div class="col-xs-4 feed-action-like">
										<span class="glyphicon glyphicon-thumbs-up"></span>
									</div>
									<div class="col-xs-4 feed-action-comment">
										<a data-toggle="collapse" href="#collapse1"><span
											class="glyphicon glyphicon-comment"></span></a>
									</div>
									<div class="col-xs-4 feed-action-share">
										<span class="glyphicon glyphicon-share-alt"></span>
									</div>
								</div>
							</div>
							<div class="panel-body feed feed-more-comments">
								<span class="glyphicon glyphicon-comment"></span> <a
									data-toggle="collapse" href="#collapse1"><span>145
										comments</span></a>
							</div>
							<div id="collapse1"
								class="panel-body panel-collapse collapse feed feed-comments ">
								<ul class="list-group">
									<li class="list-group-item">
										<div class="feed feed-comment">
											<div class="col-xs-6">
												<div class="media">
													<div class="media-left">
														<a href="#"> <img
															class="media-object image-responsive"
															src="http://goo.gl/oM0Y8G" alt="...">
														</a>
													</div>
													<div class="media-body">

														<a href="">Emily Rudd</a>
														<div>
															<span class="time"> 1 hr - </span><span
																class="glyphicon glyphicon-thumbs-up"></span>
														</div>

													</div>
												</div>
											</div>
											<div class="col-xs-6">
												<p>Wow irealy, i love here. Nice pic</p>
											</div>
										</div>
									</li>
									<li class="list-group-item">
										<div class="feed feed-comment">
											<div class="col-xs-6">
												<div class="media">
													<div class="media-left">
														<a href="#"> <img
															class="media-object image-responsive"
															src="http://goo.gl/vswgSn" alt="...">
														</a>
													</div>
													<div class="media-body">

														<a href="">Emily Rudd</a>
														<div>
															<span class="time"> 1 hr - </span><span
																class="glyphicon glyphicon-thumbs-up"></span>
														</div>

													</div>
												</div>
											</div>
											<div class="col-xs-6">
												<p>Wow irealy, i love here. Nice pic</p>
											</div>
										</div>
									</li>
								</ul>

								<div class="panel-body feed-new-comment">
									<div class="">
										<img class="image-responsive pull left"
											src="http://goo.gl/oOD0V2">
									</div>
									<div class="input-group" style="padding: 2px;">

										<input type="text" class="form-control comment-text"
											placeholder="Username" aria-describedby="basic-addon1">
										<span class="input-group-addon glyphicon glyphicon-plane"
											id="basic-addon1"></span>
									</div>

								</div>
							</div>



						</div>
					</div>
				</div>