
	<section id="home">
		<div id="home-carousel" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#home-carousel" data-slide-to="0" class="active"></li>
				<li data-target="#home-carousel" data-slide-to="1"></li>
				<li data-target="#home-carousel" data-slide-to="2"></li>
			</ol>
			<!--/.carousel-indicators-->

			<div class="carousel-inner">

				<div class="item active"
					style="background-image: url('/resources/img/slider/bg2.jpg');height: 500px;">
					<div class="carousel-caption">
						<div class="animated bounceInRight">
							<h2>
								Grow your network <br>With professionals.
							</h2>
						</div>
					</div>
				</div>

				<div class="item"
					style="background-image: url('/resources/img/slider/bg2.jpg')">
					<div class="carousel-caption">
						<div class="animated bounceInDown">
							<h2>
								Grow your network <br>With professionals.
							</h2>
						</div>
					</div>
				</div>

				<div class="item"
					style="background-image: url('/resources/img/slider/bg3.jpg')">
					<div class="carousel-caption">
						<div class="animated bounceInUp">
							<h2>
								HELLO WORLD! <br>WE ARE KASPER,WE MAKE ART.
							</h2>
							<p>Curabitur arcu erat, accumsan id imperdiet et, porttitor
								at sem. Mauris blandit aliquet elit, eget tincidunt nibh
								pulvinar a. Curabitur aliquet quam. Accumsan id imperdiet et,
								porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
						</div>
					</div>
				</div>
			</div>
			<!--/.carousel-inner-->
			<nav id="nav-arrows"
				class="nav-arrows hidden-xs hidden-sm visible-md visible-lg">
				<a class="sl-prev hidden-xs" href="#home-carousel" data-slide="prev">
					<i class="fa fa-angle-left fa-3x"></i>
				</a> <a class="sl-next" href="#home-carousel" data-slide="next"> <i
					class="fa fa-angle-right fa-3x"></i>
				</a>
			</nav>

		</div>
	</section>

