<li class="nav-item dropdown dropdown-notification-link">
    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i
                class="fa fa-bell icon-bell"></i>
    </a>
    <div class="dropdown-menu" aria-labelledby="notificationLink">
        <h3 class="dropdown-header">Notifications</h3>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item  item-row" href="#">

            <span>Arain Nemade</span>
            Promoted your post.
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item item-row" href="#"><span>Arain Nemade</span>
            Promoted your post.</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item item-row" href="#"><span>Arain Nemade</span>
            Promoted your post.</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item item-row" href="#"><span>Arain Nemade</span>
            Promoted your post.</a>
        <div class="dropdown-divider"></div>
    </div>
</li>