	<ul id="notification-dropdown" class="dropdown-menu" style="display:block">
      <li class="dropdown-header">
      	<span class="triangle"></span>
	    <span class="heading">Notifications</span>
	    <span class="badge count ng-binding" id="dd-notifications-count">54</span>
      </li>
      <li class="notification-item">
      <a href="#">
      	<div class="notification new ng-scope" ng-repeat="notification in newNotifications.slice().reverse() track by notification.timestamp">
	      <div class="notification-image-wrapper">
	      	<div class="notification-image">
	          	<img class="img-circle"  src="https://imagemoved.files.wordpress.com/2011/07/no-strings-attached-natalie-portman-19128381-850-1280.jpg" alt="" >
	          </div>
	      </div>
	      <div class="notification text">
	      	<span>Arain Nemade</span>
	      	Promoted your post.
	      </div>
	    </div>
	    </a>
      </li>
      
    </ul>