/.git/**
/connectin-web/target/*
/connectin-auth/target/*
/connectin-core/target/*
/connectin-config/target/*
/connectin-demain/target/*
/target/*
/connectin-microservice/target/**/*.lst
*.classpath
/connectin-microservice/target/**/*.java
connectin-microservice/target/**/*.properties

.settings/*
**/target/**
**/*.class
*.classpath
.project
**/*.prefs
*.prefs
.idea
*.class
*.iml
/target
_site/
/bin/
