html, body {
  background-image: url("/resources/img/slider/bg2.jpg");
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  height: 100%;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
}

.login-area {
  .tab-content {
    .btn-form {
      background: #0e1a35;
      border: medium none;
      border-radius: 100px;
      color: #ffffff;
      font-weight: 400;
      max-width: 250px;
      padding: 10px 0;
      position: relative;
      width: 100%;
      display: block;
      margin: 0 auto;
      box-shadow: 0 2px 8px #d2d2d2;
      -moz-box-shadow: 0 2px 8px #d2d2d2;
      -webkit-box-shadow: 0 2px 8px #d2d2d2;
    }
    .form-group {
      width: 100%;
      margin-bottom: 30px;
      .input {
        background: transparent none repeat scroll 0 0;
        border-color: -moz-use-text-color -moz-use-text-color #d4d9e3;
        border-image: none;
        border-style: none none solid;
        border-width: medium medium 1px;
        font-size: 13px;
        font-weight: 300;
        width: 100%;
        color: #8492af;
        padding: 5px 47px;
        font-size: 17px;
        max-width: 550px;
      }
    }
    padding: 64px;
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: inline-block;
    margin-top: -8px;
    width: 100%;
    .input {
      border-image: none;
      border-style: none none solid;
      border-width: medium medium 1px;
      font-size: 13px;
      font-weight: 300;
      width: 100%;
      color: #8492af;
      padding: 5px 47px;
      font-size: 17px;
      max-width: 550px;
    }
  }

  .form-header {

    background-color: #0e1a35;
    height: 80px;
    .tab-list {
      width: 25%;
      height: 100%;

      .tab-link {
        cursor: pointer;
        border-left: none;
        border-right: none;
        border-top: none;
        color: white;
        font-size: larger;

        &:active {
          color: white;
        }

        border-radius: 0px;
        line-height: 54px;
        background-color: inherit;
        height: 100%;
        border-bottom: 6px solid #5584ff;

      }

    }

  }
}

.login-page-container {
  align-items: center;
  display: inline-block;
  vertical-align: middle;
}
