<div class="no-user-feed" *ngIf="!userFeed">No user feed found</div>
<div *ngIf="userFeed">
    <div class="storyline container">
        <div class="row storyline-container">
            <news-feed class="col col-md-4 col-sm-12 storyline-component news-feed"></news-feed>

            <div class="col col-md-8 col-sm-12 storyline-component feeds">
                <div class="card post-card">

                    <div class="card-block">
                        <dropdown (onDropdownChange)='onDropdownChange($event)' [(selectedItem)]="privacyDropdown.selectedItem" [(items)]="privacyDropdown.items" ></dropdown>
                        <textarea class="form-control" [(ngModel)]="post.text"  rows="5"></textarea>
                        <button (click)="onPostClick()" type="button" class="float-right btn btn-outline-primary btn-post">Post</button>
                    </div>
                </div>
                <div *ngFor="#p of userFeed.posts">
                    <story-card [post]='p' class="storyline-component story-card"></story-card>

                </div>
            </div>
        </div>
    </div>

</div>

