.custom-navbar {
  background-color: #121025 !important;
  .brand-name {

  }
  .nav-header {
    .nav-list {
      .dropdown-profile-link {
        .dropdown-menu {
          border-radius: 10px;
          padding: 10px;
          background-color: #121025 !important;
          color: white;
          box-shadow: 0 0px 9px 4px rgba(106, 107, 123, 0.1), 0 -5px 2px 2px rgba(0, 0, 0, 0.1);
          .item-row {
            color: #cec3c3 !important;
            &:hover {
              background-color: #221f3c;
            }
            i{
              padding-right: 12px;
            }
          }
        }
      }
      .dropdown-notifications {

      }
    }
  }
}