body {
    font-family: $base-font-md;
    font-size: $base-font-size;
    background: url(../images/bg.jpg) top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*--login--*/
.login-bg {background-image: url(../images/login-bg.jpg) !important; }
.login-container { width: 360px; float: right; margin-top: 100px; }
.login-container .logo { padding: 20px 10px; text-align: center; }
.login { width: auto; min-height: 330px; margin: 0 auto; display: block; background-color: rgba(0,0,0,0.70); }
.login .heading { font-size: 15px; color: #fff; text-transform: uppercase; padding: 15px 0; line-height: 45px; width: 170px; margin: 10px auto; }
.login .form-group { padding: 10px 25px; }
.login .form-group .input-group { margin-bottom: 20px; display: table; }
.login .form-group .input-group-addon { font-weight: normal; color: #555; text-align: center; background-color: #e4e4e4; float: left; width: 40px; height: 38px;border-radius:0; }
.login .form-group .form-control { font-size: 15px; background-color: #fff; border: none; padding: 10px; min-width: 265px; height: 38px; border-radius:0; }
.login .form-group .custom-btn { font-size: 16px; color: #fff; text-transform: uppercase; margin: 0; width: 100%; background: #1384d2; border: none; padding: 15px 0; }
.login .links { width: 100%; margin-bottom: 25px; display: inline-block; }
.login .links a { font-size: 12px; color: #fff; padding: 5px; }
/*--/.login--*/

 /*--HOME PAGE--*/
.dashboard-container {    
    .summury-section {
        min-height: 270px;
        margin-bottom:10px;
        .reg-text {
            font-size: $text-xs;
            color: $color-white;
        }
        .value {
            font-size: $text-xl;
            color: $color-black;
        }
        .pie-chart {
            float: left;
            padding: 0 5px;
        }
        .acc-details {
            float: left;
            padding: 15px 5px 0 5px;
            li {
                span {
                    font-size: $text-sm;
                }
            }
        }
    }
    .consildatedflow-section {
        min-height: 270px;
        .btn-toggle-custom {
            position: absolute;
            right: 0;
            margin-right: 15px;
        }
    }
    .my-account-section {
        .inbox {
            border-top: 1px solid #c7c7c7;
            border-bottom: 1px solid #c7c7c7;
            padding: 10px 0;
            margin: 5px 0;
        }
        .overview {
            .custom-tab {
                margin: 0;
                padding: 0;
                float: left;
                width: 100%;
                li {
                    list-style: none;
                    float: left;
                    display: inline-block;
                    width: 49%;
                    border-right: 1px solid #ccc;
                    padding: 5px 3px;
                    &:last-child {
                        border-right: none;
                    }
                    a {
                        color: $color-gray;
                        font-size: $text-xs;
                        line-height: 20px;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
                .active {
                    background-color: $color-blue;
                    a {
                        color: $color-white;
                    }
                }
            }
        }
    }
    .pincode-section {
        .form-inline {
            margin: 10px 0;
            .form-control {
                border-radius: 0;
                width: 77%;
                float: left;
            }
            .btn {
                border-radius: 0;
                background-color: #333;
                line-height: 22px;
                &:hover {
                    color: $color-white;
                }
            }
        }
    }
}
.quick-links {
    width: 30px;
    float: right;
    .list-theme {
        li {
            &:last-child {
                border-bottom: none;
                box-shadow: none;
            }
        }
    }
}

/*--INNER PAGES--*/
.wrapper {}

/*--STATEMENT PAGES--*/
.links-div {        
        .statements-links { float:right; margin:5px 0; padding:2px 0;}
    }
    
.statement-section {
    height: 550px; overflow-x: auto; overflow-y: auto;
    }
    

/*=====CSS By Developement Team=====*/ 
axis path,  .axis line { fill: none; stroke: #000; shape-rendering: crispEdges; }
.tick {  text { font-size: small; } }
.ft-form-error { background-color: #2977c7; color: #fff; font-size: 12px; font-family: "OswaldMedium"; }
.la-form-error { background-color: #fff; color: red; font-size: 12px; font-family: "OswaldMedium"; }
.axis { font: 10px sans-serif; }
.axis path,  .axis line { fill: none; stroke: #000; shape-rendering: crispEdges; }
.points-chart path { fill: none; stroke: steelblue; stroke-width: 1; }
.linechart-container path { stroke: steelblue; stroke-width: 1; fill: none; }
.linechart-container .axis { shape-rendering: crispEdges; }
.linechart-container .x.axis line { stroke: black; }
.linechart-container .x.axis .minor { stroke-opacity: .5; }
.linechart-container .x.axis path { display: none; }
.linechart-container .y.axis line, .linechart-container .y.axis path { fill: none; stroke: black; }
.spline-join-2 .line, .spline-inv-1 .line, .spline-join-4 .line { fill: none; stroke: steelblue; stroke-width: 2px; }
.fundtransfersDiv .custom-select { /*height: 30px;*/}
.table-trans .table-header { background-color: #d4d4d4; width: 60px; border-bottom-width: 2px; border: 1px solid #ddd; padding: 8px; line-height: 1.42857; color: black; }
.table-trans .table-header .text-nowrap { color: black; }
.toolTip { position: absolute; display: none; width: auto; height: auto; background: none repeat scroll 0 0 white; border: 0 none; border-radius: 8px 8px 8px 8px; box-shadow: -3px 3px 15px #888888; color: black; font: 12px sans-serif; padding: 5px; text-align: center; }
.row1 { max-height: 88px; }
.row2 { max-height: 59px; }
.row3 { }
.home-bg { background: url(background_desktop.jpg) top center no-repeat;/*background-size: 100%;*/}
.login-bg { background: url(login-bg.jpg) top center no-repeat; height: 100%;/*background-size: 100%;*/}
.logout-btn { background-color: white; border: none; padding: 0 0 0 10px; }
.change-password-form .input-group { width: 100%; }
.pwdTypeOptions { padding: 0 48px 0 0; }
.addPayeeCustm { width: 600px; }
.bankDetails { font-family: 'OswaldLight'; color: #A09D9D; }
.updatePwd { position: relative; top: 2px; padding: inherit; }
#chagePasswordModal .radio-div { padding-left: 0; }
#chagePasswordModal .radio-div .radio-inline { margin-left: 0; }
.change-password .la-form-error { background: transparent; }
.la-form-error { background: transparent; }
.viewDetails { cursor: pointer; }
.addPayeeCustm .radio-div { min-width: 50px !important; }
.transaction-container .radio-inline { color: black; }
.acc-details { max-height: 222px; overflow-y: scroll; overflow-x: hidden; }
.trans-error .title { margin-left: 50%; }
.trans-error .trans-error-icon { font-size: 27px; margin-left: 50%; }
.pwdChangeSucess { color: white; font-size: 18px; font-weight: 700; margin-left: 10%; }




html, .index-container { height: 100%; width: 100% }
body { width: 100%; }
.container-dark { margin-left: auto; width: 42%; margin-right: auto; background-color: rgba(0, 0, 0, 0.7); padding: 30px; margin-bottom: 10px; }
.container-dark .heading-1 { font-size: 22px; color: #fff; text-transform: uppercase; text-align: center; margin: 10px 0 20px 0; }
.container-dark .form-group-2 { margin-bottom: 20px; }
.bg-blue { border: none; border-radius: 0; color: #fff; line-height: 20px; }
.btn-step1 { width: 100%; }
.radio-inline { /*color: white;*/ }
footer { bottom: 0; }
 /*=====/////CSS By Developement Team=====*/
 
    
    







