<section class='change-password'>
    <div class="container">
        <div class="container-dark container-sm pull-center">

            <form   [ngFormModel]='formValidator'  *ngIf='formAction.selected==1'  >
            <h1 class="heading-1">UPDATE PASSWORD</h1>
            <div class="">
                <div *ngIf="submitStep1 && serverError" class="error la-form-error">{{serverError}}</div>
            <div class="text-sm text-white">Password</div>

                 <label  class="radio-inline"> Online
                                <input  type="radio" class='radio-inputbox' name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            </label>
                            <label class="radio-inline"> Transaction
                                <input   type="radio"  class='radio-inputbox' name="inlineRadioOptions" id="inlineRadio2" value="option2">
                </label>


                 <div *ngIf='submitStep1 && !passwordType' class="error la-form-error">Please enter valid Password type</div>
            </div>
            <div class="form-group-2">
                <input ngControl='oldPwd' type="password" class="form-control input-lg custom-input" id="" placeholder="Old Password">
                <div *ngIf='oldPwd.touched && !oldPwd.valid ||  (!oldPwd.touched && !oldPwd.valid && submitStep1) || (oldPwd.touched && !valid("op"))' class="error la-form-error">Please enter valid Password</div>
            </div>
            <div class="form-group-2">
                <input ngControl='newPwd' type="password" class="form-control input-lg custom-input" id="" placeholder="New Password">
                <div *ngIf='newPwd.touched && !newPwd.valid || (!newPwd.touched && !newPwd.valid && submitStep1) || (newPwd.touched && !valid("np"))'  class="error la-form-error">Please enter valid Password</div>
               

            </div>

             <div class="form-group-2">
                <input ngControl='confirmPwd' type="password" class="form-control input-lg custom-input" id="" placeholder="Confirm Password">
                <div *ngIf='confirmPwd.touched && !confirmPwd.valid || (!confirmPwd.touched && !confirmPwd.valid && submitStep1) || (confirmPwd.touched && !valid("cp")) '  class="error la-form-error">Please enter valid Password</div>

                <div *ngIf='confirmPwd.touched && confirmPwd.valid && confirmPwd.value!=newPwd.value '  class="error la-form-error">Password do not match</div>

            </div>
            
                         
           
            <div (click) = 'submit()'  class="text-center btn btn-lg btn-block bg-blue text-uppercase btn-custom btn-step1">Submit</div>
        </form>



             <form *ngIf='formAction.selected==2'  class='from-2'>
                <div class="form-group-2">
                    <div class="pwdChangeSucess" *ngIf="pwdChangeSuccess">{{pwdChangeSuccess}}
                        <div><a href="/login">Return to login page</a></div>
                    </div>

                </div>
                
            </form>


        </div>
    </div>
</section>