<div>
<h4>Cards</h4>
<div class="text-sm text-blue">Holiday SP Premium Gold Card</div>
<div class="text-xs text-gray">5896 5698 5245 2153</div>
<div class="clear10"></div>
<div class="row">
    <div class="col-md-6 col-xs-6 vl-dotted-divider">
        <div class="text-xs text-gray">Total Outstanding in <span class="font-rs">`</span></div>
        <div class="text-sm">42,500.00</div>
    </div>
    <div class="col-md-6 col-xs-6">
        <div class="text-xs text-gray">Minimum Due in <span class="font-rs">`</span></div>
        <div class="text-sm">4,500.00</div>
    </div>
</div>
<ul class="activity">
    <li><span class="icon-paper"></span></li>
    <li> <span class="icon-bell"><span class="badge">8</span></span></li>
    <li> <span class="icon-cart"></span></li>
</ul>
<img class="img-responsive" src="custom/images/adv-banner.png"  alt=""/>
<div class="clearfix"></div>
</div>