<div class="dropdown custom-dropdown float-right">
    <button id="privacyDrpDown" class="drp-selected btn btn-secondary btn-sm dropdown-toggle" type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i [className]="selectedItem.icon"></i>{{selectedItem.title}}
    </button>
    <div class="dropdown-menu" aria-labelledby="privacyDrpDown">
        <div (click)="onSelect(item)" *ngFor="#item of items" class="dropdown-item"><i [className]="item.icon"></i>{{item.title}}</div>
    </div>
</div>