@import url("//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

.storyline-container{
  padding: 30px;
}
.container {
  .feeds {
    .post-card {
      margin-bottom: 10px;
      .btn-post{
        cursor: pointer;
      }
    }
  }
}

.container {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
}