/* line 1, ../scss/home.scss */
body {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif !important;
  background-color: #0b1e2f !important;
}

/* line 5, ../scss/home.scss */
img {
  image-orientation: from-image !important;
}

/* line 8, ../scss/home.scss */
.navbar-custom {
  position: relative !important;
  background-color: #fff;
  padding: 10px 0;
}
/* line 14, ../scss/home.scss */
.navbar-custom .nav li a {
  font-weight: 400;
  letter-spacing: 1px;
}
/* line 19, ../scss/home.scss */
.navbar-custom .nav .active a {
  border-radius: 5px;
}
