@import url("//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
/* line 1, ../scss/storyline.scss */
.header-image {
  object-fit: cover;
  width: 60px;
}

/* line 7, ../scss/storyline.scss */
.feed-panel {
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.25) !important;
  padding: 20px 0 0;
}
/* line 10, ../scss/storyline.scss */
.feed-panel .feed-heading {
  background-color: white !important;
}

/* line 14, ../scss/storyline.scss */
.feed-new-comment img {
  border-radius: 100px;
  float: left;
  height: 40px;
  margin: 0;
  object-fit: cover;
  width: 40px;
}

/* line 22, ../scss/storyline.scss */
.feed-comment {
  font-size: 13px;
  margin: 0;
  overflow: hidden;
  position: relative;
}

/* line 29, ../scss/storyline.scss */
.feed-comment .comment-text {
  padding-left: 20px;
  border-radius: 51px;
}

/* line 33, ../scss/storyline.scss */
.feed-more-comments {
  padding: 9px;
}

/* line 36, ../scss/storyline.scss */
.feed-comment .time {
  color: #9197A3;
  font-size: 12px;
  font-weight: 400;
  text-transform: none;
}

/* line 43, ../scss/storyline.scss */
.feed-comment p {
  color: #4B4D53;
}

/* line 46, ../scss/storyline.scss */
.feed-comment img {
  border-radius: 100px;
  float: left;
  height: 33px;
  margin: 0;
  object-fit: cover;
  width: 33px;
}

/* line 55, ../scss/storyline.scss */
.feed-heading.content a {
  color: #337ab7;
  text-decoration: none;
}

/* line 59, ../scss/storyline.scss */
.feed-status p {
  margin: 0;
}

/* line 63, ../scss/storyline.scss */
.feed-comments {
  padding: 0 !important;
}

/* line 66, ../scss/storyline.scss */
.feed-comments .list-group-item {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.075);
  /* padding: 0; */
  padding-left: 0;
  padding-right: 0;
}

/* line 73, ../scss/storyline.scss */
.feed-comments .list-group {
  margin: 0;
}

/* line 76, ../scss/storyline.scss */
.feed-stack {
  padding: 5px;
  color: #71747A;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  padding: 8px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}

/* line 87, ../scss/storyline.scss */
.feed-likes {
  margin: 0 auto;
  overflow: hidden;
  padding: 0 30px;
  position: relative;
}

/* line 94, ../scss/storyline.scss */
.feed-likes > .row > span {
  display: inline-block;
  font-size: 13px;
  margin: 0 2px 0 0;
  position: relative;
  vertical-align: middle;
}

/* line 101, ../scss/storyline.scss */
.cfeed-likes > .row:first-child {
  float: left;
  width: 60%;
}

/* line 105, ../scss/storyline.scss */
.feed-likes > .row:last-child {
  float: left;
  text-align: end;
  width: 40%;
}

/* line 110, ../scss/storyline.scss */
.feed-likes > .row:first-child > span:nth-child(4) {
  background: #4D679F;
  border-radius: 50px;
  font-weight: bold;
  padding: 0 8px 0 6px;
}

/* line 116, ../scss/storyline.scss */
.feed-likes > .row:first-child > span:nth-child(4) > a {
  color: #FFF;
}

/* line 119, ../scss/storyline.scss */
.feed-likes > .row:first-child > span,
.feed-likes > .row:last-child > span {
  color: #9197A3;
}

/* line 123, ../scss/storyline.scss */
.feed-likes > .row:last-child > span {
  display: inline-block;
  verrtical-align: middle;
}

/* line 127, ../scss/storyline.scss */
.feed-likes > .row img {
  border-radius: 100px;
  height: 28px;
  object-fit: cover;
  width: 28px;
}

/* line 136, ../scss/storyline.scss */
*, *::before, *::after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 141, ../scss/storyline.scss */
::-webkit-input-placeholder {
  color: #C6C9D0;
}

/* line 142, ../scss/storyline.scss */
:-moz-placeholder {
  color: #C6C9D0;
}

/* line 143, ../scss/storyline.scss */
::-moz-placeholder {
  color: #C6C9D0;
}

/* line 144, ../scss/storyline.scss */
:-ms-input-placeholder {
  color: #C6C9D0;
}

/* line 145, ../scss/storyline.scss */
html, body {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif !important;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400;
}

/* line 151, ../scss/storyline.scss */
a {
  color: #3B5998;
  text-decoration: none;
}

/* line 155, ../scss/storyline.scss */
a:hover {
  text-decoration: underline;
}

/* line 158, ../scss/storyline.scss */
header {
  background: #395590;
  color: #FFF;
  height: 300px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  position: relative;
  width: initial;
}
