/* line 1, ../../scss/headers/profile-header.scss */
.custom-navbar {
  background-color: #121025 !important;
}
/* line 9, ../../scss/headers/profile-header.scss */
.custom-navbar .nav-header .nav-list .dropdown-profile-link .dropdown-menu {
  border-radius: 10px;
  padding: 10px;
  background-color: #121025 !important;
  color: white;
  box-shadow: 0 0px 9px 4px rgba(106, 107, 123, 0.1), 0 -5px 2px 2px rgba(0, 0, 0, 0.1);
}
/* line 15, ../../scss/headers/profile-header.scss */
.custom-navbar .nav-header .nav-list .dropdown-profile-link .dropdown-menu .item-row {
  color: #cec3c3 !important;
}
/* line 17, ../../scss/headers/profile-header.scss */
.custom-navbar .nav-header .nav-list .dropdown-profile-link .dropdown-menu .item-row:hover {
  background-color: #221f3c;
}
/* line 20, ../../scss/headers/profile-header.scss */
.custom-navbar .nav-header .nav-list .dropdown-profile-link .dropdown-menu .item-row i {
  padding-right: 12px;
}
