@import url("//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
/* line 4, ../../scss/storyline/storyline.scss */
.storyline-container {
  padding: 30px;
}

/* line 10, ../../scss/storyline/storyline.scss */
.container .feeds .post-card .btn-post {
  cursor: pointer;
}

/* line 17, ../../scss/storyline/storyline.scss */
.container {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
}
