@import url("//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
/* line 5, ../../scss/storyline/storyline.scss */
.container .feeds {
  margin-left: 14px;
}

/* line 11, ../../scss/storyline/storyline.scss */
.container {
  font-family: "Lato", "Lucida Grande","Lucida Sans Unicode", Tahoma, Sans-Serif;
}

/* line 15, ../../scss/storyline/storyline.scss */
.menu {
  background: #fff;
  height: 60px;
  line-height: 60px;
  font-size: 12pt;
}

/* line 21, ../../scss/storyline/storyline.scss */
.toggle, .mainmenu, .search, .social, .user {
  float: left;
}

/* line 25, ../../scss/storyline/storyline.scss */
.search, .social, .user {
  padding-left: 12px;
  padding-right: 12px;
}

/* line 30, ../../scss/storyline/storyline.scss */
.menuright {
  float: right;
  color: #C5CDD0;
}
/* line 34, ../../scss/storyline/storyline.scss */
.menuright a {
  color: #C5CDD0;
  transition: 0.3s;
}
/* line 35, ../../scss/storyline/storyline.scss */
.menuright a:hover, .menuright a.active {
  color: #57CBC8;
}

/* line 38, ../../scss/storyline/storyline.scss */
.toggle {
  width: 60px;
  font-size: 20pt;
  text-align: center;
  background: #57CBC8;
  color: #fff;
}

/* line 46, ../../scss/storyline/storyline.scss */
.mainmenu {
  margin-left: 10px;
}
/* line 49, ../../scss/storyline/storyline.scss */
.mainmenu a {
  text-decoration: none;
  color: #475258;
  transition: 0.3s;
}
/* line 50, ../../scss/storyline/storyline.scss */
.mainmenu a:hover {
  color: #57CBC8;
}
/* line 51, ../../scss/storyline/storyline.scss */
.mainmenu li {
  display: inline-block;
  margin-left: 40px;
}

/* line 55, ../../scss/storyline/storyline.scss */
.search input {
  display: none;
  border: 1px solid #C5CDD0;
  padding: 5px;
  font-size: 12pt;
  outline: none;
}

/* line 58, ../../scss/storyline/storyline.scss */
.social {
  border-left: 1px solid #e1e5e7;
  border-right: 1px solid #e1e5e7;
}
/* line 62, ../../scss/storyline/storyline.scss */
.social li {
  display: inline-block;
  margin: 0 6px;
}

/* line 65, ../../scss/storyline/storyline.scss */
.new-latest-container {
  overflow: hidden;
  margin-top: 1.5%;
}

/* line 70, ../../scss/storyline/storyline.scss */
.news-bar {
  padding-bottom: 1.5%;
  background: #fff;
  color: #475258;
}
/* line 76, ../../scss/storyline/storyline.scss */
.news-bar .news-item {
  padding: 6%;
}
/* line 80, ../../scss/storyline/storyline.scss */
.news-bar .news-content h4 {
  font-size: medium;
  color: #475258;
}
/* line 82, ../../scss/storyline/storyline.scss */
.news-bar .news-content span {
  display: block;
  margin-top: 6%;
  color: #919fa7;
  font-size: 8pt;
}

/* line 87, ../../scss/storyline/storyline.scss */
.content {
  float: right;
  width: 66.5%;
  background: #fff;
}

/* line 93, ../../scss/storyline/storyline.scss */
.image {
  background: #fff;
  position: relative;
  overflow: hidden;
}
/* line 97, ../../scss/storyline/storyline.scss */
.image img {
  position: relative;
  z-index: 0;
  width: 100%;
  display: block;
  height: auto;
  transition: 0.3s;
}
/* line 98, ../../scss/storyline/storyline.scss */
.image img:hover {
  opacity: 0.8;
}
/* line 101, ../../scss/storyline/storyline.scss */
.image span {
  background: #EA6060;
  display: block;
  position: absolute;
  font-size: 16pt;
  width: 20%;
  color: #fff;
  text-align: center;
  padding: 20% 10% 2%;
  transform: rotateZ(-45deg);
  top: -25%;
  left: -20%;
  z-index: 1;
}

/* line 105, ../../scss/storyline/storyline.scss */
.share {
  margin-top: 5%;
}
/* line 108, ../../scss/storyline/storyline.scss */
.share li {
  display: inline-block;
  margin-right: 5%;
  font-weight: 300;
}
/* line 110, ../../scss/storyline/storyline.scss */
.share a {
  color: #999;
  transition: 0.3s;
}
/* line 111, ../../scss/storyline/storyline.scss */
.share a i, .share a:hover {
  color: #57CBC8;
}
