<div class="storyline-component visibility-dropdown dropdown pull-right">
                            <button class="dropdown-selected btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Friends
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#"><i class="fa fa-globe" aria-hidden="true"></i> Public</a></li>
                                <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i> Friends</a></li>
                                <li><a href="#"><i class="fa fa-lock" aria-hidden="true"></i> Me</a></li>
                                
                               <!--  <li role="separator" class="divider"></li> -->
                                
                            </ul>
                        </div>