.header-image{
  object-fit: cover;
    width: 60px;
}

.feed-heading{
  background-color: white !important;
}
.feed-panel{
      box-shadow: 0 0 50px 5px rgba(0,0,0,.25) !important;
    padding: 20px 0 0;
}
.feed-new-comment img{
   border-radius: 100px;
    float: left;
    height: 40px;
    margin: 0;
    object-fit: cover;
    width: 40px;
}
.feed-comment{
         
    font-size: 13px;
    margin: 0;
    overflow: hidden;
    position: relative;
}
.feed-comment .comment-text{
  padding-left: 20px;
      border-radius: 51px;
}
.feed-more-comments{
  padding: 9px;
}
.feed-comment .time{
  color: #9197A3;
    
    font-size: 12px;
    font-weight: 400; 
    text-transform: none;
}
.feed-comment p{
  color: #4B4D53;
}
.feed-comment img{
 border-radius: 100px;
    float: left;
    height: 33px;
    margin: 0;
    object-fit: cover;
    width: 33px;
}

.feed-heading.content a{
      color: #337ab7;
    text-decoration: none;
}
.feed-status p{

      margin: 0;
}
.feed-comments{
      padding: 0 !important;
}
.feed-comments .list-group-item{
  border: none;
    border-top: 1px solid rgba(0,0,0,.075);
    /* padding: 0; */
    padding-left: 0;
    padding-right: 0;
}
.feed-comments .list-group{
      margin: 0;
}
.feed-stack{
  padding: 5px;
      color: #71747A;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid rgba(0,0,0,.075);
}


.feed-likes {
  margin: 0 auto;
  overflow: hidden;
  padding: 0 30px;
  position: relative;
}

.feed-likes > .row > span {
  display: inline-block;
  font-size: 13px;
  margin: 0 2px 0 0;
  position: relative;
  vertical-align: middle;
}
.cfeed-likes > .row:first-child {
  float: left;
  width: 60%;
}
.feed-likes > .row:last-child {
  float: left;
  text-align: end;
  width: 40%;
}
.feed-likes > .row:first-child > span:nth-child(4) {
  background: #4D679F;
  border-radius: 50px;
  font-weight: bold;
  padding: 0 8px 0 6px;
}
.feed-likes > .row:first-child > span:nth-child(4) > a {
  color: #FFF;
}
.feed-likes > .row:first-child > span,
.feed-likes > .row:last-child > span {
  color: #9197A3;
}
.feed-likes > .row:last-child > span {
  display: inline-block;
  verrtical-align: middle;
}
.feed-likes > .row img {
  border-radius: 100px;
  height: 28px;
  object-fit: cover;
  width: 28px;
}


@import url('//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
*,*::before,*::after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
::-webkit-input-placeholder {color: #C6C9D0;}
:-moz-placeholder {color: #C6C9D0;}
::-moz-placeholder {color: #C6C9D0;}
:-ms-input-placeholder {  color: #C6C9D0;}
html, body {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif !important;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 400;
}
a {
  color: #3B5998;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
header {
  background: #395590;
  color: #FFF;
  height: 300px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  position: relative;
  width: initial;
}
