		<div class="story-card component-post">
					

					<h1>What is the meaning of life?</h1>
					<p>
						Life is beautiful but not always easy, it has problems, too, and the challenge lies in facing them with courage, letting the beauty of life act like a balm, which makes the pain bearable, during trying times, by providing hope


Happiness, sorrow, victory, defeat, day-night are the two sides of the me coin. Similarly life is full of moments of joy, pleasure, success and comfort punctuated by misery, defeat, failures and problems. There is no human being on Earth, strong, powerful, wise or rich, who has not experienced, struggle, suffering or failure.... <a href="#">Read
							more</a>
					</p>


					<div class="post-info">
						
						<div class="panel-body post-stack post-likes">
							<div class="col-xs-8 row">
								<span><a href="#"><img src="http://goo.gl/oM0Y8G"
										alt="" /></a></span> <span><a href="#"><img
										src="http://goo.gl/vswgSn" alt="" /></a></span> <span><a href="#"><img
										src="http://goo.gl/oM0Y8G" alt="" /></a></span> <span><a href="#">+99</a></span>
								<span>Like this</span>
							</div>
							<div class="col-xs-4 pull-right post post-actions">
								<div class="col-xs-4 post-action-like">
									<span class="glyphicon glyphicon-thumbs-up"></span>
								</div>
								<div class="col-xs-4 post-action-comment">
									<a data-toggle="collapse" href="#collapse1"><span
										class="glyphicon glyphicon-comment"></span></a>
								</div>
								<div class="col-xs-4 post-action-share">
									<span class="glyphicon glyphicon-share-alt"></span>
								</div>
							</div>
						</div>
						<div class="panel-body post post-more-comments">
							<span class="glyphicon glyphicon-comment"></span> <a
								data-toggle="collapse" href="#collapse1"><span>145
									comments</span></a>
						</div>
						<div id="collapse1"
							class="panel-body panel-collapse collapse post post-comments ">
							<ul class="list-group">
								<li class="list-group-item">
									<div class="post post-comment">
										<div class="col-xs-6">
											<div class="media">
												<div class="media-left">
													<a href="#"> <img class="media-object image-responsive"
														src="http://goo.gl/oM0Y8G" alt="...">
													</a>
												</div>
												<div class="media-body">

													<a href="">Emily Rudd</a>
													<div>
														<span class="time"> 1 hr - </span><span
															class="glyphicon glyphicon-thumbs-up"></span>
													</div>

												</div>
											</div>
										</div>
										<div class="col-xs-6">
											<p>Wow irealy, i love here. Nice pic</p>
										</div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="post post-comment">
										<div class="col-xs-6">
											<div class="media">
												<div class="media-left">
													<a href="#"> <img class="media-object image-responsive"
														src="http://goo.gl/vswgSn" alt="...">
													</a>
												</div>
												<div class="media-body">

													<a href="">Emily Rudd</a>
													<div>
														<span class="time"> 1 hr - </span><span
															class="glyphicon glyphicon-thumbs-up"></span>
													</div>

												</div>
											</div>
										</div>
										<div class="col-xs-6">
											<p>Wow irealy, i love here. Nice pic</p>
										</div>
									</div>
								</li>
							</ul>

							<div class="panel-body post-new-comment">
								<div class="">
									<img class="image-responsive pull left"
										src="http://goo.gl/oOD0V2">
								</div>
								<div class="input-group" style="padding: 2px;">

									<input type="text" class="form-control comment-text"
										placeholder="Username" aria-describedby="basic-addon1">
									<span class="input-group-addon glyphicon glyphicon-plane"
										id="basic-addon1"></span>
								</div>

							</div>
						</div>
					</div>

				</div>