0
<div class="story-card component-post">

    <div class="component-header row">
        <img class="col-xs-2 img img-responsive img-circle img-user" src="http://goo.gl/vswgSn" alt=""/>
        <div class="col-xs-8 post-header">{{post.user.firstName}} {{post.user.lastName}}
            <div class="sub-header">posted on {{post.createdTime}}</div>
        </div>
        <i *ngIf="post.visibility=='public'" class="col-xs-2  icon-visibility fa fa-globe"></i>
        <i *ngIf="post.visibility=='friends'" class="col-xs-2  icon-visibility fa fa-users"></i>
        <i *ngIf="post.visibility=='me'" class="col-xs-2 icon-visibility fa fa-lock"></i>
    </div>
    <p>
        {{post.text}}.... <a href="#">Read
        more</a>
    </p>


    <div class="post-info">

        <div class="panel-body post-stack post-likes">
            <div class="col-xs-8 row">
								<span><a href="#"><img src="http://goo.gl/oM0Y8G"
                                                       alt=""/></a></span> <span><a href="#"><img
                    src="http://goo.gl/vswgSn" alt=""/></a></span> <span><a href="#"><img
                    src="http://goo.gl/oM0Y8G" alt=""/></a></span> <span><a href="#">{{post.likes.length}}</a></span>
                <span>Like this</span>
            </div>
            <div class="col-xs-4 pull-right post post-actions">
                <div class="col-xs-4 post-action-like">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                </div>
                <div class="col-xs-4 post-action-comment">
                    <a data-toggle="collapse" href="#collapse1"><span
                            class="glyphicon glyphicon-comment"></span></a>
                </div>
                <div class="col-xs-4 post-action-share">
                    <span class="glyphicon glyphicon-share-alt"></span>
                </div>
            </div>
        </div>
        <div class="panel-body post post-more-comments">
            <span class="glyphicon glyphicon-comment"></span> <a
                data-toggle="collapse" href="#collapse1"><span>{{post.comments.length}}
									comments</span></a>
        </div>
        <div id="collapse1"
             class="panel-body panel-collapse collapse post post-comments ">
            <ul class="list-group">
                <li *ngFor="#comment of post.comments" class="list-group-item">
                    <div class="post post-comment">
                        <div class="col-xs-6">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#"> <img class="media-object image-responsive"
                                                      src="http://goo.gl/oM0Y8G" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">

                                    <a href="">{{comment.firstName}} {{comment.lastName}} </a>
                                    <div>
                                        <span class="time"> 1 hr - </span><span
                                            class="glyphicon glyphicon-thumbs-up"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <p>{{comment.text}}</p>
                        </div>
                    </div>
                </li>

            </ul>

            <div class="panel-body post-new-comment">
                <div class="">
                    <img class="image-responsive pull left"
                         src="http://goo.gl/oOD0V2">
                </div>
                <div class="input-group" style="padding: 2px;">

                    <input type="text" class="form-control comment-text"
                           placeholder="Username" aria-describedby="basic-addon1">
                    <span class="input-group-addon glyphicon glyphicon-plane"
                          id="basic-addon1"></span>
                </div>

            </div>
        </div>
    </div>

</div>