
/*-- Customised Bootsrap --*/
.container {
    padding-left: 5px;
    padding-right: 5px;
}
.row {
    margin-left: -5px;
    margin-right: -5px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-auto {
    padding-left: 5px;
    padding-right: 5px;
}
.col-auto { width:auto; float:left; position:relative; min-height:1px;}
.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
    margin-right: -5px;
    margin-left: -5px;
}

/*--CONTAINERS--*/
.container-white {
    background-color: #fff;
    box-shadow: 0 0 10px #000;
    padding: 10px;
    margin-bottom: 10px;
}
.container-dark {
    background-color:rgba(0,0,0,0.70);
    padding:30px;
    margin-bottom:10px; 
}    
.container-basic {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
.container-left {   
}
.container-sm { 
    width:42%;
}
.container-md { 
    width:70%;
}


.pull-center {
    margin-left:auto; 
    margin-right:auto; 
}

/*--FONTS--*/
.font-light {
    font-family: $font-light;
}
.font-rs {
    font-family: $font-rs;
}

/*--COLORS--*/
.text-white {
    color: $color-white;
}
.text-black {
    color: $color-black;
}
.text-gray {
    color: $color-gray;
}
.text-blue {
    color: $color-blue;
}
.text-skyblue {
    color: $color-skyblue;
}
.text-yellow {
    color: $color-yellow;
}
.text-red {
    color: $color-red;
}
.text-green {
    color: $color-green;
}
.text-lightgreen {
    color: $color-lightgreen;
}
.text-orange {
    color: $color-orange;
}

/*--SIZES--*/
.text-xs {
    font-size: $text-xs;
}
.text-sm {
    font-size: $text-sm;
}
.text-md {
    font-size: $text-md;
}
.text-xl{
    font-size: $text-xl;
}

/*--BG--*/
.bg-red {
    background-color: $color-red;
}
.bg-green {
    background-color: $color-green !important;
}
.bg-blue {
    background-color: $color-blue;
}
.bg-black {
    background-color: $color-black;
}

/*--HEADINGS & LINKS--*/
a:hover {
    text-decoration: none;
}
h2, h3, h4, h5 {
    margin: 5px 0;
    color: $color-blue;
}
h4 {
    font-size: 20px;
}
.heading-1 {
    font-size:22px;
    color:$color-white;
    text-transform:uppercase;
    text-align:center;
    margin:10px 0 20px 0; }

.page-header {
    font-size:32px;
    color:$color-black;
    border-bottom:none;
    text-transform:uppercase;
    margin:10px 0;
    }
/*--ICONS--*/
.icon {
    background: url(../images/icons-set.png) no-repeat;
    display: block;
    margin: 0 auto;
    cursor:pointer;
}
.icon-md {
    width: 30px;
    height: 30px;
}
.icon-md-inline {
    @extend .icon-md;
    float: left;    
    margin-right: 3px;
}
.icon-sm {
    width: 20px;
    height: 20px;
}
.icon-sm-inline {
    @extend .icon-sm;
    float: left;    
    margin-right: 3px;
}
.icon-dashbord {
    @extend .icon;
    @extend .icon-md;
    background-position: 2px 2px;
}
.icon-walletlock {
    @extend .icon;
    @extend .icon-md;
    background-position: -239px 2px;
}
.icon-eservice {
    @extend .icon;
    @extend .icon-md;
    background-position: -272px 2px;
}
.icon-bank {
    @extend .icon;
    @extend .icon-md;
    background-position: -33px 2px;
}
.icon-loan {
    @extend .icon;
    @extend .icon-md;
    background-position: -67px 2px;
}
.icon-cards {
    @extend .icon;
    @extend .icon-md;
    background-position: -103px 2px;
}
.icon-invest {
    @extend .icon;
    @extend .icon-md;
    background-position: -139px 2px;
}
.icon-insurance {
    @extend .icon-md;
    @extend .icon;
    background-position: -172px 2px;
}
.icon-share {
    @extend .icon;
    @extend .icon-md;
    background-position: 2px -57px;
}
.icon-gift {

    @extend .icon;
    @extend .icon-md;
    background-position: -29px -57px;
}
.icon-card {
    @extend .icon;
    @extend .icon-md;
    background-position: -59px -57px;
}
.icon-achive {
    @extend .icon;
    @extend .icon-md;
    background-position: -91px -57px;
}
.icon-users {
    @extend .icon;
    @extend .icon-md;
    background-position: -127px -57px;
}
.icon-shield {
    @extend .icon;
    @extend .icon-md;
    background-position: -158px -57px;
}
.icon-graph {
    @extend .icon;
    @extend .icon-sm;
    background-position: -23px -118px;
}
.icon-calender {
    @extend .icon;
    @extend .icon-sm;
    background-position: -46px -118px;
}
.icon-mail {
    @extend .icon;
    @extend .icon-sm;
    background-position: -73px -139px;
}
.icon-select-dropdown {
    @extend .icon;
    @extend .icon-sm;
    background-position:0 -160px;
}
.icon-user-dropdown {
    @extend .icon;
    @extend .icon-md;
    background-position: -205px 0;
}
.icon-paper {
    @extend .icon;
    @extend .icon-sm-inline;
    background-position: -136px -118px;
}
.icon-cart {
    @extend .icon;
    @extend .icon-sm-inline;
    background-position: -96px -118px;
}
.icon-transfer {
    @extend .icon;
    @extend .icon-sm-inline;
    background-position: -117px -118px;
}
.icon-bell {
    @extend .icon;
    @extend .icon-sm-inline;
    background-position: -156px -118px;
}
.icon-link {
    @extend .icon;
    @extend .icon-sm-inline;
    background-position: 0 -140px;
}
.icon-check {
    @extend .icon;
    @extend .icon-sm-inline;
    background-position: -172px -137px;
}
.icon-sucess {
    @extend .icon;
    @extend .icon-md;
    background-position: -268px -168px;
}
.icon-back {
    @extend .icon;
    @extend .icon-sm-inline;
    background-position: -193px -139px;
}
.icon-pdf {
    @extend .icon;
    @extend .icon-md-inline;
    background-position: 1px -204px;
}
.icon-excel {
    @extend .icon;
    @extend .icon-md-inline;
    background-position: -30px -204px;
}
.icon-email {
    @extend .icon;
    @extend .icon-md-inline;
    background-position: -65px -204px;
}

.active {
    .icon-graph {
        background-position: -23px -140px;
    }
    .icon-calender {
        background-position: -46px -140px;
    }
    .icon-paper {
        background-position: -136px -140px;
    }
    .icon-cart {
        background-position: -96px -140px;
    }
    .icon-transfer {
        background-position: -117px -140px;
    }
    .icon-bell {
        background-position: -156px -140px;
    }
}

/*--BUTTONS--*/
.btn-custom {
    border: none;
    border-radius:0;
    color: $color-white;
    line-height: 20px;    
    &:hover {
        color: $color-white;
    }
}
.btn-custom-2 {
    @extend.btn-custom;
    background-color: rgba(255,255,255,0.50);
    border: 1px solid #fff;
    margin: 5px 0;
    border-radius: 0;
    padding: 5px;
}
.btn-custom-3 {
    @extend.btn-custom;
    background-color: rgba(8,105,172,0.50);
    border: 1px solid $color-blue;
    margin: 5px 0;
    border-radius: 0;
    padding: 5px;
    color: rgba(8,105,172,0.80);
}
.btn-custom-4 {
    border: none;
    border-radius:0;
    font-size:16px;
    color: $color-white;
    padding:8px; 
    text-transform:uppercase;
    width:140px;  
    &:hover, &:focus {
        color: $color-white;
        outline:none;
    }
}

/*TOGGLE BUTTON*/
.btn-toggle-custom {
    border: 1px solid #333;
    padding: 2px;
    border-radius: 30px;
    background-color: $color-white;
    .btn {
        padding: 3px;
        border-radius: 30px !important;
        &:focus {
            outline: none;
        }
    }
    .btn-on {
        background-color: $color-green;
        color: $color-white;
        border-radius: 30px;
        box-shadow: none;
    }
    .btn-off {
        background-color: $color-white;
        color: $color-green;
        border-radius: 30px;
        box-shadow: none;
    }
}


/*--LISTS--*/
.list-theme {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        border-bottom: 1px solid #143a72;
        box-shadow: 0 2px 0 #476da5;
        display: block;
        padding: 5px 0;
        margin-bottom: 5px;
        color: $color-gray;
    }
}

/*--PAGINATIONS--*/
.activity {
    margin: 10px 0;
    padding: 0;
    li {
        list-style: none;
        display: inline-block;
        border-right: 1px solid #ccc;
        &:last-child {
            border-right: none;
        }
    }
    .badge {
        background-color: $color-orange;
        font-family: $font-light;
        font-size: 9px;
        position: relative;
        top: -7px;
        right: -7px;
        padding: 2px 4px;
    }
}

/*--FORMS--*/
.form-group {
    margin-bottom: 10px;
    label { font-weight:normal;}
    .custom-input {
    font-family: $font-light;
    border-radius: 0;
    margin: 5px 0;
    padding: 0 10px;
    border: 1px solid #c7c7c7;
    box-shadow:none;
}
}

.form-group-2 {
    margin-bottom: 20px;
    label { font-weight:normal;}
    .custom-input {
    font-family: $font-light;
    border-radius: 0;
    margin: 5px 0;
    padding: 0 10px;
    border: none;
}
.input-group {
    width:100%;
    .addon  {
        padding:13px 10px;
        }
    }
}

.custom-select {
    float: left;
    position: relative;
    cursor: pointer;
    line-height: 34px;
    /*background: url(../images/icon-select-arrowdown.png) #ffffff no-repeat scroll 97% 15px;*/
    background-color:$color-white;
    margin: 5px 0;
    border: 1px solid #ddd;
    width: 100%;
    .icon-select-dropdown {
        position: absolute;
        right: 0;
        top: 6px;
            }
    .select-value {
        font-family: $font-light;
        font-size: 14px;
        color: #7f7f7f;
        line-height: 34px;
        font-weight: normal;
        vertical-align: middle;
        background-color: transparent;
        border: none;
        width: 100%;
        height: 34px;
        margin: 0;
        padding: 0 20px 0 10px;
        box-shadow: none;
    }
    .select-list {
        font-size: 12px;
        color: #7f7f7f;
        border: none;
        width: 100%;
        height: 34px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        cursor: pointer;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
    }
    &:after {
        clear: both;
    }
}
.custom-select-2 {
    float: left;
    position: relative;
    cursor: pointer;
    line-height: 16px;
    margin-bottom: 5px;
    border: none;
    width: 100%;
    .icon-select-dropdown {
        position: absolute;
        right: 0;
        
        border:1px solid #ccc;
    }
    .select-value {
        font-size: 12px;
        color: #999999;
        line-height: 20px;
        font-weight: normal;
        vertical-align: middle;
        background-color: transparent;
        border: none;
        width: 100%;
        height: 16px;
        margin: 0;
        padding: 0 25px 0 0;
        box-shadow: none;
    }
    .select-list {
        font-size: 12px;
        color: #999999;
        border: none;
        width: 100%;
        height: 20px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        cursor: pointer;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
    }
    &:after {
        clear: both;
    }
}
.custom-select-3 {
    float: left;
    position: relative;
    cursor: pointer;
    line-height: normal;
    /*background: url(../images/icon-select-arrowdown.png) #ffffff no-repeat scroll 97% 15px;*/
    background-color:$color-white;
    margin: 0 0 5px 0;
    border-bottom: 1px solid #ddd;
    width: 100%;
    .caret {
        position: absolute;
        right: 0;
        top: 15px;
        border-width:8px;
            }
    .select-value {
        font-family: $font-reg;
        font-size: 15px;
        /*color: #0f0901;*/
        line-height: 34px;
        font-weight: normal;
        vertical-align: middle;
        background-color: transparent;
        border: none;
        width: 100%;
        height: 34px;
        margin: 0;
        padding: 0;
        box-shadow: none;
        padding-right:20px;
    }
    .select-list {
        font-size: 12px;
        color: #7f7f7f;
        border: none;
        width: 100%;
        height: 34px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        cursor: pointer;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
    }
    &:after {
        clear: both;
    }
}

.select-lg {
    line-height: 44px;
     .select-value {
         line-height: 44px;
          height: 43px;
          font-size: 15px;
        color: #333;
        padding-right:40px;
         }
    .select-list {
         height: 44px;
         }
         .icon-select-dropdown {
             background-position:-20px -160px;
             right: 10px;
            top: 12px;
             }
    
    }
    
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {margin:5px;}
.radio-inline {  padding-left:0px; line-height:34px; margin:5px;}
.datepicker { 
.custom-input {  border-color:#c7c7c7; padding-right:30px;}
.addon {padding:7px 10px; position: absolute; right: 0; z-index: 10; margin: 5px 0;}

 }

/*--STEPS--*/
.steps-container {
    min-height: 25px;
    margin: 10px 0 20px 0;
    .steps {
        width: 60%;
        margin: 0 auto;
        padding: 0;
        border-bottom: 2px solid rgba(255,255,255,0.30);
        position: relative;
        min-height: 13px;
        .item {
            width: 24px;
            height: 24px;
            display: inline-block;
            background-color: #b4d2e6;
            color: $color-blue;
            text-align: center;
            border-radius: 20px;
            line-height: 24px;
            position: absolute;
            &:hover {
                text-decoration: none;
            }
            &:first-child {
                left: 0;
            }
            &:nth-child(2) {
                left: 42%;
            }
            &:last-child {
                right: 0;
            }
        }
        .active {
            background-color: #fff;
        }
    }
    .icon-back {
        margin: 2px 0;
    }
    .popup-steps {
        @extend .steps;
        border-bottom: 2px solid rgba(8,105,172,0.30);
        .active {
            background-color: $color-blue;
            color: #fff;
        }
    }
}

/*--DIVIDERS--*/
.basic-divider {
    border-bottom: 1px solid #c7c7c7;
    margin: 5px 0;
}
.vl-dotted-divider {
    border-right: 1px dotted #c7c7c7;
}
.heading-divider {
    margin: 5px 0 10px 0;
    background-color: #f1f1f1;
    height: 3px;
    width: 100%;
    .orange-line {
        width: 40%;
        height: 3px;
        background-color: $color-orange;
    }
}

/*--MODELS--*/
.custom-modal {
    .modal-content {
        border: none;
        border-radius: 0;
         padding: 10px 40px;
        .modal-header {
            border-bottom: 0;
            padding:0;
            margin-bottom:10px;
        }
        .modal-body {
            padding:0;
           
        }
    }
}
.custom-modal-sm {
    @extend .custom-modal;
    width: 380px;
}

/*Vertically Center Model*/
.modal-vC {
    text-align: center;
    padding: 0!important;
    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }
}

/*--SLIDERS--*/
.custom-slider {
    .slick-dots {
        top: 0;
        text-align: right;
        li {
            height: 10px;
            width: 10px;
            margin: 0 2px;
            button {
                background: $color-gray;
                height: 10px;
                width: 10px;
                border-radius: 10px;
                &:before {
                    color: transparent;
                }
            }
        }
        .slick-active {
            button {
                background: $color-blue !important;
            }
        }
    }
}

/*--TABLES--*/
.custom-table { margin-bottom:0;}
.custom-table > thead > tr > th, .custom-table > tbody > tr > td { }
.custom-table > thead > tr > th { background-color:#d4d4d4;}
.custom-table > tbody > tr > td { font-family:$font-light; color:$color-black;}

/*--dataTables--*/
.dataTables_scrollHead {height:36px;}
.dataTables_info { display:none;}

/*.scrollbar::-webkit-scrollbar
{
    width: 6px;
    background-color: #000000;
}
 
.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #FFFFFF;
}*/

/*--OTHERS--*/
.clear10 {
    clear: both;
    margin-bottom: 10px;
}
.clear20 {
    clear: both;
    margin-bottom: 20px;
}
.alfa-half {
    opacity: 0.5;
}
