/* Scss Document */
@font-face {
    font-family: 'OswaldRegular';
    src: url('../fonts/OswaldRegular.eot');
    src: url('../fonts/OswaldRegular.eot') format('embedded-opentype'),
         url('../fonts/OswaldRegular.woff2') format('woff2'),
         url('../fonts/OswaldRegular.woff') format('woff'),
         url('../fonts/OswaldRegular.ttf') format('truetype'),
         url('../fonts/OswaldRegular.svg#OswaldRegular') format('svg');
}
@font-face {
    font-family: 'OswaldMedium';
    src: url('../fonts/OswaldMedium.eot');
    src: url('../fonts/OswaldMedium.eot') format('embedded-opentype'),
         url('../fonts/OswaldMedium.woff2') format('woff2'),
         url('../fonts/OswaldMedium.woff') format('woff'),
         url('../fonts/OswaldMedium.ttf') format('truetype'),
         url('../fonts/OswaldMedium.svg#OswaldMedium') format('svg');
}
@font-face {
    font-family: 'OswaldLight';
    src: url('../fonts/OswaldLight.eot');
    src: url('../fonts/OswaldLight.eot') format('embedded-opentype'),
         url('../fonts/OswaldLight.woff2') format('woff2'),
         url('../fonts/OswaldLight.woff') format('woff'),
         url('../fonts/OswaldLight.ttf') format('truetype'),
         url('../fonts/OswaldLight.svg#OswaldLight') format('svg');
}
@font-face {
    font-family: 'rs';
    src: url('../fonts/rupee_foradian-webfont.eot');
    src: url('../fonts/rupee_foradian-webfont.eot') format('embedded-opentype'),
         url('../fonts/rupee_foradian-webfont.woff2') format('woff2'),
         url('../fonts/rupee_foradian-webfont.woff') format('woff'),
         url('../fonts/rupee_foradian-webfont.ttf') format('truetype'),
         url('../fonts/rupee_foradian-webfont.svg#rs') format('svg');
}


