@media all and (max-width:500px) {
    .hide-xs {
        display: none;
    }
    .container-sm, .container-md {
        width:100%;
        }
    .custom-navbar {
        .navbar-brand {
            margin: 3px;
        }
        .navbar-nav {
            li {
                a {
                    span {
                        float: left;
                        margin-right: 10px;
                        display: inline-block;
                    }
                }
            }
        }
    }
    .custom-modal-sm {
        width: 95%;
    }
    
}
@media all and (min-width:501px) and (max-width:767px) {
    .hide-xs {
        display: none;
    }
    .container-sm, .container-md {
        width:100%;
        }
    .custom-navbar {
        .navbar-brand {
            margin: 3px;
        }
        .navbar-nav {
            li {
                a {
                    span {
                        float: left;
                        margin-right: 10px;
                        display: inline-block;
                    }
                }
            }
        }
    }
    .custom-modal-sm {
        width: 95%;
    }
}
@media all and (min-width:$screen-sm-min) and (max-width:$screen-sm-max) {
    .hide-sm {
        display: none;
    }
}
@media all and (min-width:$screen-md-min) and (max-width:$screen-md-max) {
}
@media all and (min-width:$screen-lg-min) {
}
@media all and (min-width:$screen-md-min) {
    .container {
        width: 996px;
    }
    .container-left {
        float:left;
        max-width:950px;
        }
    .custom-navbar {
        .navbar-nav {
            margin-left: 10%;
        }
    }

    .grid-lg {
        min-width: 260px;
    }
    .grid-sm {
        max-width: 210px;
    }
    .select-acc-div { max-width:180px;}
    .radio-div { min-width:340px;}
    .dates-div { min-width:285px;}
    .links-div { max-width:115px;}
}
@media all and (max-width:$screen-md-max) {
}
.img-responsive {
    width: 100%;
}