/* base style */
$base-font-md:'OswaldMedium';
$base-font-size:14px;
$base-color:#fff;

/*font*/
$font-reg: 'OswaldRegular';
$font-light: 'OswaldLight';
$font-rs: 'rs';
$text-xs:12px;
$text-sm:18px;
$text-md:30px;
$text-xl:42px;

/*colors*/
$color-white:#fff;
$color-black:#000;
$color-gray:#999;
$color-blue:#2977c7;
$color-skyblue:#60bef4;
$color-yellow:#facb0f;
$color-red:#9b0000;
$color-green:#0ba404;
$color-lightgreen:#0ffa99;
$color-orange:#f1961a;





